[2014-10-07 19:33] positlabs opened #2 "Suggested improvements"
Slider should not require a user-defined handle component. It should use a default handle if one is not provided.

Also, the handle shouldn't be required to be a component. A div should be acceptable.

I may end up submitting a pull request, but my time is limited right now.

[2014-10-08 16:36] mpowaga commented on #2
I'm thinking about adding two new components to be used as a children of slider. One will be just a handle and a second to fill the space between handles. So the user can easily create range slider with two handles or even more. Something like this:

[code]

You can use div but then you loose the ability to show the current value.

Default handle component is a good idea. Feel free to add it.

[2014-10-08 17:02] positlabs commented on #2
I implemented this in my project, in order to use html elements as handles. If props.children is a component, then it assigns props to it. There might be a better way to check if object is a component, but this works.

The default handle assignment can also be handled here.

[code]

I do like the idea of a fillable bar, but multi-handle functionality would be better as a separate component, imo.

[2014-11-27 13:20] qwtel commented on #2
I don't really know where else to put this, so it goes here.

I've built a multi slider component based on your slider ([repository](https://github.com/cell303/react-multi-slider), [demo](https://cell303.github.io/react-multi-slider/)). It can have multiple handles, draws bars between them, provides default handles if the component has no children and prevents text selection while dragging.

I tri

[2014-11-27 16:41] mpowaga commented on #2
@cell303 That look really great. Bit different than my first ideas but I like similarity to range input.

Feel free to submit PR. This component isn't set in stone yet so I don't mind to break things.

[2014-12-05 00:14] flosse opened #10 "invert axis"
It would be awesome if  I could invert the axis by setting a property `invert` to `true`

[2014-12-05 00:43] flosse opened #11 "onChanged fired twice"
My `onChanged` function gets called twice :-\ How can I avoid it?

[2014-12-05 00:56] qwtel commented on #11
Oh I almost forgot about this one :/
I'll take a look at it.

[2014-12-05 01:02] qwtel commented on #11
If you want a quick fix, just remove the click event handler from the slider (line 354). This means the handles can no longer be moved by clicking on the slider, depending on what you want to do this might not be a big deal.
Also note that this issue does not occur on mobile.

[2015-01-05 17:25] motiz88 opened #13 "Suggested enhancement: Snap-and-drag behavior"
For my needs, the user should be able to click (or touch) anywhere on the slider, have the handle snap to that position, and continue dragging from there without releasing the mouse button (or finger).

Pull request #14 is my suggested implementation. Future work may include a prop to configure the various behaviors (perhaps similar to [noUiSlider](https://github.com/leongersen/noUiSlider)'s `beha

[2015-01-08 01:16] mpowaga commented on #13
Thanks.

[2015-01-08 01:16] #13 closed, assigned to nobody

[2015-01-11 19:41] DustinHigginbotham opened #15 "Cannot figure out slider size if component is hidden"
I have a component that is hidden on initial load, so on your `componentDidMount` you are calling `_handleResize` and that runs `getBoundingClientRect` and it returns all zeros.

Right now, I am calling the `_handleResize` function as a work around when my component is visible. Is there something better I can do?

[2015-01-11 22:00] qwtel commented on #15
Hi,

I've run into this problem myself, unfortunately I haven't really come up with a good solution.

I thought about calculating the slider/handle sizes on each `render`, but since it triggers a browser reflow this is prohibitive from a performance standpoint.

Maybe calculating the sizes only on touch/mouse start would be a compromise.

Your thoughts?

[2015-01-11 22:31] DustinHigginbotham commented on #15
That may be a pretty good idea. If it happens fast enough, the user wouldn't notice.

Worst comes to worst, should there be a more public way of saying "hey, I'm visible now" kind of like what I am doing in my work-around.

[2015-01-11 23:01] qwtel commented on #15
I've experimentally implemented the idea, but of course it doesn't solve the problem as touch/mouse start don't get called when the element becomes visible.

From a quick google search it seems like there is no clean way to detect visibility changes, so it seems manually calling `_handleResize` is the "most correct" solution anyway (judging form [this answer](http://stackoverflow.com/a/1462510/870

[2015-01-11 23:12] DustinHigginbotham commented on #15
But the touch/mouse events won't trigger unless the element is visible anyway. In theory, when `mousedown` happens, it could essentially run `_handleResize` assuming that it has visibility. If nothing less, it could check to see if `getBoundingClientRect` has returned all zeros and have it check again.

Do you fear that by the time `mousedown` happens, it would be too late to do all of these thing

[2015-01-14 11:40] qwtel commented on #11
Btw: seems to be fixed in the current version

[2015-01-14 11:41] #11 closed, assigned to nobody

[2015-01-14 11:45] qwtel commented on #15
The problem is that the sizes are also used for positioning the handles. This means that when you make the slider visible, all the handles are still positioned at 0. Once you start dragging one of them they all "jump" to their correct position.

Performance isn't the problem.

[2015-01-14 11:47] qwtel commented on #2
I think this is all implemented now

[2015-01-14 11:47] #2 closed, assigned to nobody

[2015-01-16 00:31] paulmelnikow opened #20 "Some new values of min, max, value do not correctly propagate"
So, I've encountered an issue where new values of min, max, and value do not correctly propagate.
1. I set min, max, and value to 100, 400, and 182.
2. I update them to 46, 181, and 93.

**Expected behavior:** the new min, max, and value are set to 46, 181, and 93.

**Observed behavior:** the new min, max, and value are set to 100, 181, and 100.

The bug is in `componentWillReceiveProps`. It sets

[2015-01-16 00:43] paulmelnikow commented on #20
Hmmm, noticed that `_trimAlignValue` is using this.props.min and this.props.max, which in `componentWillRecieveProps` have not been set to their new values. Is that a bug? Or is the intention that the slider ranges can't change?

[2015-01-16 11:39] qwtel commented on #20
That is definitely a bug.

I put it in there because I observed strange behaviour when suppling values that weren't multiples of `step`, so I forced them to be via `_trimAlignValue`. However, I think it should be on the user to provide correct values in the first place (also it says so in the documentation), so I reverted the changes.

Im not sure if it solves your problem however. Could you check

[2015-01-18 19:35] paulmelnikow commented on #20
Thanks, this is clearer, but doesn't quite solve it. I think the problem is that the re-trimming of value is happening in `componentWillReceiveProps`, which happens before `this.props.min` and `this.props.max` get their new values.

Should `_trimAlignValue` take optional parameters which override props.min and props.max?

[2015-01-18 19:47] paulmelnikow commented on #20
See #21, let me know what you think.

[2015-01-19 10:34] #20 closed, assigned to nobody

[2015-02-13 09:49] acr92 opened #23 "Slider does not work with touch devices (in Chrome?)"
Hello,

I configured your slider in a project of mine, and it was working fine on desktop. However, when I tested it on mobile devices it seems as if it doesn't detect touch release.

![Imgur](http://i.imgur.com/03GFGNS.png)

Steps to reproduce:
- Open Chrome
- Go to https://cell303.github.io/react-slider/
- open developer tools and click the phone icon in the "Elements, Network, Sources, ..." tab

[2015-02-13 10:33] evanvosberg opened #24 "Version 0.3.3 doesn't work when providing no value"
In version 0.3.2 this was working:

[code]

but in version 0.3.3 it leads to `NaN` errors.

Change my code to this

[code]

and now it works again, but this means currently the slider doesn't work with `defaultValue` only.

Just notice in my cases the `myNumber` variable is always in range of the `min` / `max`.

[2015-02-16 10:37] #23 closed, assigned to nobody

[2015-02-16 12:28] #24 closed, assigned to nobody

[2015-03-09 10:49] mrakjos opened #26 "Jump to position"
I have sliders with same settings:
            min: -1,
            max: 1,
            step: 0.01,
            withBars: true,

When I click on 'label 2' to position 0, handlebar jump to position on right side of cursor:

![screen shot 2015-03-09 at 11 15 17](https://cloud.githubusercontent.com/assets/7734088/6553365/463ffc94-c650-11e4-8f72-a592495dbee9.png)

After I zoom in/out web page jump to

[2015-03-19 01:04] mwcz commented on #10
:+1:

[2015-03-29 15:34] qwtel commented on #10
implemented in 47637b3d1127df8da5689ad859d25de014b3c918

[2015-03-29 15:34] #10 closed, assigned to nobody

[2015-03-29 18:05] mwcz commented on #10
Nice!  Thank you!  cell303++

[2015-03-31 12:46] veewee opened #27 "Bower support"
Is it also possible to add bower support?

[2015-03-31 13:13] qwtel commented on #27
should work now: `bower install react-slider`

[2015-03-31 21:06] eriklharper opened #28 "Upgrade from 0.3.4 to 0.4.1 results in handles not moving"
Did a simple upgrade of react-slider and now my handles are not moveable and by default they are stuck all the way on the left side, where they should be set in the middle as before when I was using 0.3.4.

Here's what my usage looks like (in jsx):

[code]

I also diffed my styles with the styles you provide for the slider in the index.html, and the only style differences that I am adding that are

[2015-03-31 21:14] qwtel commented on #28
I can confirm that this is a bug, I'll keep you updated

[2015-03-31 21:16] eriklharper commented on #28
Thanks very much! @cell303

[2015-03-31 21:23] #28 closed, assigned to nobody

[2015-03-31 21:29] eriklharper commented on #28
lightning fast, thank you!

[2015-04-01 06:57] veewee commented on #27
Works like a charm! Thanks!

[2015-04-01 06:57] #27 closed, assigned to nobody

[2015-04-01 08:13] veewee commented on #15
We are also facing this problem when the slider is placed in a react-bootstrap TabPane.
Currently, I am solving the issue by triggering a resize event during change of tabs:

[code]

However, there must be a way to handle this in the slider component.

[2015-04-01 09:03] qwtel commented on #15
You could also call `_handleResize` on the component, but it feels a bit "hacky" as well.

It all has to do with the fact that we use absolute pixel values for the handle positions, which can not be calculated before the size of the slider is known.

For the next version of the slider I have planned to position the handles on a percentage basis, which would also allow the slider to pre-render on t

[2015-04-01 09:24] veewee commented on #15
Great! I am looking forward to the next version :)

[2015-04-01 18:20] sfarthin opened #29 "Publish 0.4 to NPM"

[2015-04-03 20:07] qwtel commented on #29
Unfortunately I don't have the rights to do that. Waiting for @mpowaga to do that.

[2015-04-04 13:28] mpowaga commented on #29
@sfarthin @cell303 Sorry for the delay. Published today.

[2015-04-04 13:28] #29 closed, assigned to nobody

[2015-05-04 07:20] basharov opened #31 "RequireJS issues"
When I include react-slider into my RequireJS config, it throws this:

![image](https://cloud.githubusercontent.com/assets/625090/7449896/233031d8-f247-11e4-8b77-b8185ae50852.png)

But when I remove it, all works fine without this library. What can lead to this error?

[2015-05-13 18:26] ccitro commented on #15
I ran into this issue myself, and I submitted a pull request for how I've solved it for my use cases.

For me, checking if upperBound is 0 in componentWillReceiveProps works because my props will always change after the slider becomes visible.  It won't fix all cases, but it doesn't add any overhead and fixes it as long as your props change.

Merge if you think it'd be helpful, and thanks for the

[2015-05-14 08:37] tjankowski opened #34 "In IE9 browser window loses focus"
- IE9 has issue with blur function - browser window loses focus when blur is called on body
- similiar to issue described here: https://stackoverflow.com/questions/5657371/ie9-window-loses-focus-due-to-jquery-mobile#12150059

[2015-05-16 10:24] #34 closed, assigned to nobody

[2015-05-22 17:37] BDiehr opened #35 "Drag Doesn't Work on Chrome on Ubuntu 14.04"
This sounds like it's more likely a chrome issue, but I have Ubuntu 14.04 installed through VirtualBox, and the sliders do not work on chrome. They however, did work on firefox, as well as chrome on my Windows host computer.

Any thoughts on this?

Thanks!

[2015-06-11 15:32] whroman commented on #15
The above-mentioned merge was not helping me in the same situation of having a slider be hidden when the app first loads. I managed to fix this in a fork of react-slider where I wrapped the logic within `_handleResize` with a `setTimeout` of 0. I have submitted a PR for this change at #38.

[2015-06-14 16:48] qwtel commented on #31
The component uses Universal Module Definition (good explanation [here](http://davidbcalhoun.com/2014/what-is-amd-commonjs-and-umd/)). The relevant code is right at the beginning:

[code]

It assumes that you have defined an alias (not sure what the exact requirejs term is) for the name `"react"` that maps to a specific location.

[2015-06-15 22:04] dmitry opened #40 "Scaling function"
It would be nice to have scaling function, like in this project: https://github.com/seatgeek/react-slider

I would go with the similar interface as https://github.com/seatgeek/react-slider has:

**scalingFunction**

A function that takes two arguments, the first representing the x-position of the slider and the second the width of the slider. Use this to control the mapping of the domain of number

[2015-06-15 22:06] dmitry opened #41 "Accessibility: change position using keyboard"
It would be nice to have possibility to change position of slider cursors using keyboard.

[2015-06-15 22:08] AndrewRayCode commented on #15
Why not make the css `left` a % based, so you never have to worry about size? this is biting me because the slider appears on a page with one layout, then a reflow happens and the slider changes size, but it still thinks its the original size

[2015-06-16 13:22] qwtel commented on #41
I'm not sure how I would do that.

The component would have to render a focusable element, detect the focus and then register keyboard handlers for the duration of the focus. Not sure if that's possible.

Personally I'm using two `<input type="number"/>` elements with the slider that share the same values. Maybe that's a workable solution for you as well.

[2015-06-16 13:52] qwtel commented on #15
Yes I was thinking about making `left` %-based (see my earlier post), but I haven't come around to implementing it yet.

Also, it's not as simple as I've originally thought. Setting the `left` property on every `touchmove` (as it is now) is not such a good idea, because it's causing _layout_, _paint_ and _composite_ for every new value. Using the pixel-based `transform` would only cause _composite

[2015-06-22 16:45] timarney opened #42 "Reset Value?"
Is there a way to reset the value of the slider?  There seems to be an issue if I'm dynamically swapping out the min max values - see https://github.com/timarney/react-slider

Roughly this:

[code]

The min and max update but the value is messed up until you interact with the slider again... in which case the slider corrects itself.

If there was a way to reset to the default value I'm thinking th

[2015-06-23 02:54] timarney commented on #42
I modified my setup to use the slider as a controlled component ... that seems to do the trick.

[2015-06-23 02:54] #42 closed, assigned to nobody

[2015-06-23 07:40] qwtel commented on #42
This is intended behaviour. However there might be problems with controlled components as well. Feel free to open a new issue if you run into any.

btw: in your example you are not passing `this.state.max` to the component

[2015-06-23 07:41] #31 closed, assigned to nobody

[2015-06-23 07:44] qwtel opened #43 "Push latest version to npm"
@mpowaga

[2015-06-23 15:18] #43 closed, assigned to nobody

[2015-07-03 08:26] mrakjos commented on #26
It is good after update to 0.5.1. Thanks

[2015-07-03 08:26] #26 closed, assigned to nobody

[2015-07-03 08:34] qwtel commented on #26
Thanks for keeping the issue up to date :)

[2015-07-03 11:16] dmitry commented on #41
@cell303 but can you control the values with the arrows (left/right)? Using the slider (with two values) for displaying the price.

[2015-07-09 17:41] qwtel commented on #41
Well you would control the values either using the slider or the input fields, which in turn have keyboard listeners (for the up and down arrow keys though).

By using the slider and the input fields as [controlled components](https://facebook.github.io/react/docs/forms.html#controlled-components) you can keep all the values in sync:

[code]

[2015-07-12 18:23] raulmatei commented on #40
+1

[2015-07-22 11:54] durkiewicz opened #44 "Problem with getting slider's length"
The slider doesn't behave correctly when it's contained in an element that expands on some user action. By "expands" I mean a transition that involves `transform: scale(...)` CSS property.

This issue is a bit similar to this: https://github.com/mpowaga/react-slider/issues/15 because the root cause of the issue is that the size in component's state is not up to date.

[2015-07-23 03:15] BDiehr commented on #35
Can we safely declare this repo dead?

[2015-07-23 09:46] qwtel commented on #35
No, I just work on it very inconsistently.

[2015-08-03 02:40] saulshanabrook opened #46 "Webpack Support"
How do I use this with webpack? I want to be able to `import {ReactSlider} from 'react-slider'` in my JS, but when I try that I get some errors.

[2015-08-03 02:43] saulshanabrook commented on #46
You do `import ReactSlider from 'react-slider'`

[2015-08-03 02:43] #46 closed, assigned to nobody

[2015-08-21 15:04] electerious commented on #44
Experiencing the same problem. My slider is inside a transformed div (`transform: translateX(-100%)`). Clicking the slider sets the handler to the wrong position. I think that the position calculation of clicks is incorrect because of `transform`.

[2015-08-26 20:06] ghost opened #48 "Values return problem"
Hey,

I like your work and product (slider) very much. Unfortunately I have stumbled upon a problem with returning values. I can't figure down, basing on source file, how to do it correctly (2 values), so there will be 2 correct values returned.

All best,
Pszek

[2015-08-26 20:38] qwtel commented on #48
Hi, thank you. I'm not sure if I know what you mean. Could you write some code that shows what you're expecting?

[2015-08-29 16:58] #48 closed, assigned to nobody

[2015-09-14 13:14] hugihlynsson opened #51 "Warning when using React 0.14"
When using react-slider in a React 0.14 project, the following warning is issued by React:

[2015-09-14 13:17] qwtel commented on #51
Ah, thank you for trying the component with react 0.14.

I've heard of this change, but I don't know how to best handle it, so that the component can be used with react 0.13 and 0.14.
Checking for `getDOMNode` to be defined seems like a pretty brute way to do it :/
Happy to receive any input concerning this.

[2015-09-14 13:51] hugihlynsson commented on #51
Yeah, I'm not sure either what is the best way to go forward with this, without breaking backwards comparability. In React 0.14, this is only a warning, so maybe is should just stay like it is until it will be totally deprecated.

[2015-09-14 13:57] qwtel commented on #51
Now would be the time to fix the warning so the component doesn't break when it is totally deprecated.
I assume there will be a suggested way of handling this once 0.14 is released. Or we just add the check...

[2015-09-14 20:59] takempf opened #52 "Repo links to https://cell303.github.io/react-slider"
Working URL is https://mpowaga.github.io/react-slider

[2015-09-15 15:01] canfie1d opened #53 "demo vs. code base discrepancy"
Your demo uses `translate()` to position the handles and seems to work correctly while your codebase uses `left` and doesn't seems to be positioning the handles in the correct place. Which is newer code? `Translate` is more performant in animations so I assume that the demo is an upgraded version. Can that code be made available?

[2015-09-15 15:09] canfie1d commented on #51
I think `.findDOMNode()` replaces it, no?
http://www.omerwazir.com/posts/react-getdomnode-replaced-with-findDOMNode/

[2015-09-15 15:17] hugihlynsson commented on #51
@canfie1d That change was introduced in React 0.13, but 0.14 includes further changes. `findDOMNode()` is no longer a part of the react package, but rather a new react-dom package. Also, refs that point to a DOM component now _are_ the DOM node, and should not be wrapped with `findDOMNode()`. See more here in the [React 0.14 blog post](https://facebook.github.io/react/blog/2015/09/10/react-v0.14-r

[2015-09-15 17:03] canfie1d commented on #51
Ah- I see. Thanks for that.

[2015-09-18 17:11] alexmugford opened #54 "Issue Implementing"
Hello,

I think this is just my issue, and not a real issue.  I'm trying to put this into my react program by doing the following:

var React = require('react');
var MultiSlider = require('react-slider');

var myClass = React.createClass({

[code]

});

module.exports = myClass ;

When I run it, nothing appears on screen, but it shows up in the developer tools.  The div with class "class='slider'"

[2015-09-18 17:37] qwtel commented on #54
Hm, couple of things:
- the slider comes without a default styling, so you have to define your own. Start with the CSS from the example, and work towards what you want it to look like.
- it's `defaultValue`, not `defaultValues` (to be in line with other react input elements)
- the values you provide must be sorted ascending, so it should be defaultValue={[1, 8]}
- at the very least you should defi

[2015-09-18 17:47] alexmugford commented on #54
Great, thanks for the input!

I had another class name 'slider' which seemed to have been conflicting with it.  I can see the component now after giving it a new className through the props!

Thanks for the quick reply, and thanks for this component!

[2015-09-18 17:47] #54 closed, assigned to nobody

[2015-09-18 18:02] qwtel commented on #53
Difficult to explain. So originally I was using `transform` for positioning, but it caused some problems with existing `transform`s on the handles. That's probably the component you are seeing. After that I switched to absolute positioning, but still pixel based.
For the [rewrite of the component](https://github.com/qwtel/react-multi-slider) I'm sticking with absolute positioning, despite the perf

[2015-09-19 04:38] #52 closed, assigned to nobody

[2015-09-21 08:23] dmitry commented on #51
Looks like the right way to release new version of a package with strict dependency to react 0.14.

PS. Similar idea: https://github.com/moroshko/react-autosuggest/commit/4ab699dc20114c2287e24ace3129da4ddfb4f04b

[2015-09-21 08:26] dmitry commented on #35
@BDiehr for me it works at least for 1.04 and 1.05 on chrome 43 and 44 in linux (Mint).

[2015-09-21 08:29] qwtel commented on #51
Thanks for looking it up :+1:

[2015-09-21 18:40] canfie1d commented on #53
Oh ok, so the demo is using old code?
Why are you using px based values instead of percentage based?

[2015-09-28 13:38] qwtel commented on #53
Yes. The reason is that percentage based positioning via transform is relative to the size of the element being transformed (i.e. setting `transform: translateX(50%)` on a handle will offset it by 50% of its width, which is not what we want)

[2015-10-02 13:01] LoicUV commented on #40
+1
has any of you come up with a solution since june @dmitry @raulmatei ?

[2015-10-05 18:21] dmitry commented on #40
@alexmugford how does this related to the #40?

[2015-10-05 18:26] alexmugford commented on #40
@dmitry sorry, misunderstood the scaling being requested!

[2015-10-14 09:54] martpie commented on #51
Any news on that ? react 0.14 is out now.

Instead of findDOMNode, just use refs:

[code]

[2015-10-18 20:52] nuclearspike commented on #51
I too am looking forward to .14 support.

[2015-10-18 21:15] nuclearspike commented on #51
The warning stops happening if you just remove the ".findDOMNode()" from 2 places in the code.

[2015-10-18 23:14] martpie commented on #51
I submitted a PR for that, but the maintainer seems inactive.

[2015-10-19 15:48] gabssnake commented on #51
@KeitIG your PR doesn’t seem to update package.json or handle compatibility with 0.13

[2015-10-19 15:51] gabssnake commented on #53
@qwtel any chances of unifying the two packages or updating this one to accept React 0.14 ?

[2015-10-20 09:10] martpie commented on #51
True dat, doing it asap.

[2015-10-20 10:27] martpie commented on #51
Done.

[2015-10-22 06:07] mauricesvay commented on #51
:+1:

[2015-10-22 06:07] mauricesvay commented on #40
:+1:

[2015-10-22 16:34] Martindelataille commented on #51
Waiting fix too. @KeitIG  Thanks

[2015-10-22 22:06] 7rulnik commented on #15
I also have a component that is hidden on initial load. I replaced `display: none` by `visibilty: hidden`. It works.

[2015-10-22 22:07] martpie commented on #51
@Martindelataille, yep, would be great if the PR was accepted now :)

[2015-10-24 16:02] kumarharsh commented on #35
I've tested it on Chrome, and it works perfectly.

Chrome: Version 44.0.2403.157 (64-bit)
Ubuntu: 14.04

[2015-11-01 13:51] martpie commented on #51
Issue can be closed now a new version is released. poke @hugihlynsson

[2015-11-02 11:00] hugihlynsson commented on #51
Super!

[2015-11-02 11:00] #51 closed, assigned to nobody

[2015-11-02 17:48] YourDeveloperFriend opened #59 "Changing # of children causes prop discrepency."
This bug is apparent when you use both `value` and children. Example:

[code]

If you add a value to both `value` and `labels`, neither display in the react slider. Here's a [jsfiddle demonstrating the bug](https://jsfiddle.net/g11cup6g/1/). The offending code is in the [`_or` function](https://github.com/mpowaga/react-slider/blob/v0.6.0/react-slider.js#L245), which relies on `this.props.children`

[2015-11-09 11:06] loopmode opened #61 "Warning: `div` was passed a style object that has previously been mutated"
Hi.
We started having this react warning with react-slider, and I am not sure what is causing it, as our implementation has not changed, neither did we update something, and it was working fine with the current react version (0.14.1)

Any ideas? Is it rather a problem on our side, or is it something to be considered within react-slider?

Our implementation/usage:

[code]

The full warning

[code]

[2015-11-20 12:54] dlindenkreuz commented on #61
Check if any of your `min`, `max` and `value` props are non-numeric. React seems to have a problem with the slider's `style` prop containing `right: NaN`. Had the same problem because one of the values was `undefined`.

[2015-11-21 21:42] loopmode commented on #61
yes I do see NaNs with devtools. Hmm should have figured that it's some math operation with `undefined`. Thanks for the hint!

[2015-11-27 06:03] clayne11 opened #63 "Issue with getBoundingClientRect() being called on undefined component"
[This PR](https://github.com/mpowaga/react-slider/pull/38) brought in a setTimeout before calling for getBoundingClientRect(). This can cause an issue in some situations where the component is unmounted before this call is made thus throwing an exception.

[2015-12-10 17:54] blanchma commented on #63
Same problem here: Uncaught TypeError: slider.getBoundingClientRect is not a function(anonymous function) @ react-slider.js?b78f:280

[2016-01-02 16:17] vinayakpatil commented on #59
Why is this not merged yet? I am facing the same issue. I also have the similar fix.

[2016-01-05 14:25] iest commented on #63
I'm getting the same issue.

[2016-01-12 10:23] cedricmessiant opened #65 "Handles are not updated when using controlled component"
I am using react-slider with redux. Handles are not updated when we pass a new value to ReactSlider component

[2016-01-20 15:29] istrel commented on #63
This issue is caused by updating component and therefore calling extra `this._handleResize`. After that `this.resizeTimeout` value rewritten with new timeout handle although old timeout is not cleared. So after unmounting the old `resizeTimeout` is still going to happen. When it happens it faces empty refs and therefore throws the error

[2016-01-25 10:10] foodaka opened #68 "broken out of the box?"
Is there something im doing wrong? the component wont render

import React from 'react';
import ReactDOM from 'react-dom';
import ReactSlider from 'react-slider';

const test = React.createClass({

  render() {
    return (
      <div>
        <ReactSlider defaultValue={50} />
        blahahh
      </div>
    );
  }
})

export default test

[2016-01-25 10:12] foodaka opened #69 "broken out of the box?"
Is there something im doing wrong? the component wont render

import React from 'react';
import ReactDOM from 'react-dom';
import ReactSlider from 'react-slider';

const DepthMeterInput = React.createClass({

  render() {
    return (
      <div>
        <ReactSlider defaultValue={50} />
        blahahh
      </div>
    );
  }
})

export default DepthMeterInput

[2016-01-25 10:13] foodaka commented on #69
i dont know why but it doesnt show my return

[code]

[2016-01-25 10:26] #68 closed, assigned to nobody

[2016-01-26 10:59] istrel commented on #69
@foodaka For now react slider is a non-es6 module, so you should use CommonJS `require` call or import this with `*` like this:

[code]

[2016-01-28 11:26] #69 closed, assigned to nobody

[2016-01-29 15:08] tp opened #70 "Can't open index.html demo"
When opening the demo index.html it fails with this error:

[code]

commit: 63eb81ed11d1d9f7bad16736dce0885c3d5fb9fa

Browsers:
- Firefox 45.0a2 (2016-01-25) (OS X)
- Chrome 50.0.2630.0 canary (64-bit) (OS X)

[code]

[code]

[2016-02-11 18:12] detj commented on #61
Experienced the same issue. Passing `0` instead of other falsy values solved the issue.

[2016-02-14 12:33] joshwcomeau commented on #40
Is this something that the authors would be willing to accept a PR for? I'd happily implement the scaling function if it's something the authors would like to have in their project.

[2016-02-16 09:38] albertogasparin commented on #65
+1

[2016-02-16 18:09] kodama78 commented on #53
Hi, I noticed the same discrepancy and have a question. The code base is not positioning the handles correctly and for some reason seems to ignore the `position: relative` from the slider. My question is how do I fix this issue?

[2016-02-19 00:08] lukashlavacka commented on #40
I have implemented something similar to this using the existing code. I achieved it by separating the internal value and display value. I wanted to implement exponential scaling. So lets imagine I want only to have values 1, 2, 4, 8, ..., 1024. In this case I would hold in state the "internal" value (0, ..., 10) and calculate the rest on the fly:

[code]

With this approach you can create slider w

[2016-02-23 11:13] pbruijnes commented on #65
+1

[2016-02-23 18:46] stevenpetryk commented on #40
I agree with @lukashlavacka's solution. A scaling function doesn't really need to be present in this plugin since you can just calculate that elsewhere.

[2016-02-29 09:26] maslianok commented on #65
the same

[2016-03-24 06:27] tacomanator commented on #41
Hopefully a side effect of making it work with the keyboard would be that it is focusable. Right now it's skipped when tabbing, which even users who don't need accessibility features often do to work through a form.

[2016-04-08 13:52] xiaolin opened #74 "React v15.0.0"
Hi guys,

When updating react to the newly releases v15.0 I'm getting this npm error:

`peerinvalid Peer react-slider@0.6.1 wants react@>=0.14`
Any chance you can bump the dependency to allow v15.0?

Thanks!

[2016-04-16 10:11] artursgirons opened #76 "Warning: This synthetic event is reused for performance reasons. If you're seeing this, you're adding a new property in the synthetic event object. The property is never released. See https://fb.me/react-event-pooling for more information."
With React v15.0.1

[2016-04-25 10:55] nishvs opened #79 "How can i use this compoenent in my exiting React Page???"
How can i use this compoenent in my exiting React Page???

I already have a <div> where i am rendering the React compoenent. In that compoenent i need a slider slider component. How can i use this component??

[2016-05-06 05:41] vinayakpatil commented on #59
@mpowaga Any update on this PR? I still see this issue, thanks!

[2016-05-06 13:10] klase commented on #65
+1

[2016-05-11 14:13] ghost commented on #76
I am also seeing this warning the first time I move the slider.

[2016-05-11 16:29] klase commented on #76
+1

[2016-05-16 08:02] jacobp100 opened #81 "Custom Class Names with CSS Modules"
For the barClassName, you set the class to something like `bar bar-1`.

However, when using CSS Modules, it is impossible to target `.bar-1`, since the class names generated from `bar` and `bar-1` are completely separate, and have no relation to each other.

Maybe a solution would be to allow barClassName to take an array of names to use.

[2016-05-16 15:49] gregtalarico commented on #59
+1

[2016-05-22 14:58] LavaToaster opened #83 "Rename prop `pearling` to something else"
So, uh, I'm not entirely sure where the definition of this wording came from, but trying to google it lead to some very interesting, nsfw, results.

Surely there's something better that better describes what's going on? Such as `moveOtherHandlers`.

[2016-06-07 13:03] miraage commented on #76
@mpowaga any progress?

[2016-06-09 08:07] simoneb opened #86 "Project alive? There are many PRs to merge!"
Hey,

this component is really useful but it has quite some bugs, which several of the PRs fix.

Any chance to have them included in this repo?

[2016-06-16 09:57] LoicUV commented on #86
ping @mpowaga

[2016-06-20 07:03] jamesbrauman commented on #86
I emailed @mpowaga he replied once, but then not again. I offered to help merge some of the pull requests.

[2016-06-25 07:23] AndersDJohnson commented on #76
Also seeing this. Any solution yet? What about #73?

`npm ls`:

[code]

[2016-06-25 16:06] AndersDJohnson commented on #76
#73

[2016-07-22 07:19] thepapanoob commented on #86
im going to fork it and merge all PR's as this repo seems abandond

[2016-07-22 07:47] simoneb commented on #86
excellent initiative @Kruemmelmonster. Can you post a link to the repo when you do it?

[2016-07-25 12:23] joshwcomeau commented on #86
@Kruemmelmonster please share.

@mpowaga can you please mark this package as deprecated? Nothing more frustrating than spending the time to familiarize and integrate a solution, only to realize that it's unusable because the owner has abandoned it.

[2016-07-27 11:23] thepapanoob commented on #86
@simoneb & @joshwcomeau as im not the owner i have to do it manually but im right at the middle of doing it

[2016-07-27 21:50] petyappetrov commented on #86
Where author... 😢

[2016-07-31 02:02] jamesbrauman commented on #86
@Kruemmelmonster @petyappetrov @joshwcomeau

I've been given collaborator access to the repository by the owner. I will merge some pull requests.

[2016-07-31 12:52] jamesbrauman commented on #76
This has been addressed in this commit https://github.com/mpowaga/react-slider/commit/6fee17df90fa8303335695c87ca8908937afc8e9.

I will publish a new version to npmjs.com when I have received appropriate permissions from @mpowaga to do so.

[2016-08-02 00:59] jamesbrauman commented on #79
@nishvs

There are instructions in the `README.md` file for implementing this component into your page, and the [source code for the demo](https://github.com/mpowaga/react-slider/blob/master/index.html) has an example implementation.

[2016-08-02 00:59] #79 closed, assigned to nobody

[2016-08-02 11:59] jamesbrauman commented on #86
@simoneb @LoicUV @Kruemmelmonster @petyappetrov

I have published a new minor version, which contains support for `react ^15.0.0`. Expect to see more updates soon in the future.

[2016-08-02 11:59] #86 closed, assigned to nobody

[2016-08-02 12:02] joshwcomeau commented on #86
Yay! Thanks @jamesbrauman

[2016-08-02 12:04] jamesbrauman commented on #74
@xiaolin This issue has been resolved in the latest release `0.7.0`.

[2016-08-02 12:04] #74 closed, assigned to nobody

[2016-08-02 12:05] jamesbrauman commented on #76
@artursgirons This issue has been resolved in the latest release `0.7.0`.

[2016-08-02 12:05] #76 closed, assigned to nobody

[2016-08-02 18:48] mauricio-gamboa commented on #65
+1

[2016-08-02 18:59] xiaolin commented on #74
@jamesbrauman thanks!

[2016-08-03 04:49] jamesbrauman commented on #81
@jacobp100 Any chance you could submit an example pull request that shows how you would like this work?

[2016-08-07 14:20] michaelsync opened #87 "- Invariant Violation: addComponentAsRefTo(...): Only a ReactOwner can have refs. You might be adding a ref to a component that was not created inside a component's `render` method, or you have multiple copies of React loaded (details: https://fb.me/react-refs-must-have-owner)."
Hello,

I am getting this error below when I load my react component that uses react-sider in my JEST beforeEach() method. (I am using React 15.3.0, react-slider 0.7.0, JEST 13.2.3)

I am sure I didn't create my component out side of the render() and I don't have multiple copies of React (I verified with this command npm ls | grep react )..

Does anyone here has the same issue?

[2016-08-07 15:43] michaelsync commented on #87
I think I got this error because of "ref". If I temporarily removed the code related to refs (e.g.  `ref: 'slider', ref: 'bar' + i, ref: 'handle' + i, var slider = this.refs.slider;` ), I no longer get this error anymore.

I am very new to React so feel free to let me know if I am missing something here.. If it's an known issue, I would like to know when we can get the fix.

Cc @mpowaga @jamesbrau

[2016-08-07 23:44] jamesbrauman commented on #87
@michaelsync

Thank for the report. Could you please post some minimal amount of code that reproduces the issue?

[2016-08-16 05:23] michaelsync commented on #87
@jamesbrauman Sorry. I didn't get the notification.

Here is some repo.

**Here is the list of files that I have.**

![image](https://cloud.githubusercontent.com/assets/192911/17688692/ca20cc60-63c4-11e6-896c-9c36a6617d93.png)

**Package.json**

{
  "name": "ms-jest-test",
  "version": "1.0.0",
  "description": "",
  "main": "index.js",
  "scripts": {
    "test": "jest"
  },
  "author": "ms",
  "l

[2016-08-16 05:26] michaelsync commented on #87
If I remove ".unmock('react-slider')" to automock the slider then it works. But I don't want to auto-mock the slider and I want to test the DOM.

[2016-08-16 05:51] jamesbrauman commented on #87
@michaelsync

Thanks for providing that example - I'll take a look into this.

[2016-08-18 02:57] michaelsync commented on #87
Hi @jamesbrauman Did you manage to replicate the issue?

[2016-08-18 04:37] jamesbrauman commented on #87
@michaelsync Sorry I have not yet had a chance to investigate the issue. If you would like to and create a pull request that fixes the bug, it would be appreciated, otherwise I'll get to it when I have a chance.

[2016-08-21 02:43] #61 closed, assigned to nobody

[2016-08-21 02:43] jamesbrauman commented on #61
This issue should be fixed now that https://github.com/mpowaga/react-slider/issues/85 has been merged.

[2016-09-01 20:02] ghost commented on #81
put :global infront of your class and it will work

[2016-09-03 21:47] sean-clayton opened #88 "Examples how to write tests?"
I want to test my component (that uses this one) to make sure that the correct handlers are being invoked. Currently my test looks like this (Using Jest, expect.js, and Enzyme):

[code]

Unfortunately, `action` is never invoked. I'm curious to how this component should be tested correctly?

[2016-10-03 23:50] imbrianj commented on #41
In addition to merely making it accept focus and keyboard inputs, aria values for current value, min and max should be relatively easily added and offer that functionality to screen-readers.  The `aria-role` of `slider` offers guidance on best practices for a lot of this: https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/Using_the_slider_role

[2016-10-03 23:57] imbrianj commented on #35
This works for me in Chromium on 16.04.  Can we safely declare this issue dead?

[2016-10-08 12:02] mehiel opened #89 "Enable handle move on slider touch for mobile devices"
It should work just like it works on mouse down event on slider. This allows slider have a way better UX when used in touch enabled devices. You can just touch anywhere in the slider and start sliding instead of trying to touch exactly the handler.

[2016-10-10 12:25] teameh commented on #41
@qwtel your solution works very well for me! I've adapted it a bit:

[code]

To parse the values and also support key left and right events for horizontal sliders :)
But has the downside that I now have to implement the "pearling" and min/max checks as well.

If would be awesome if this is embedded in the lib along with the right aria attributes @imbrianj mentions.

[2016-10-16 01:00] jakehm opened #91 "Default style looks bad."
Why can't the slider come with a default style that doesn't look so bad?  So if I wanted to use the component, I wouldn't have to do the styling myself.

[2016-10-24 13:18] jvdhoeven commented on #65
Current version v0.6.1 has a "value" attribute for controlled components

When i change the state of value it changes the corresponding handles.

[2016-10-24 15:04] edgehero opened #93 "Is there a way to ID the source of the value?"
There is a onChange function that is called with the with value.
but is there also a way to add a own integer to it ( as id from what slider the value is coming)
because i got a application with multiple sliders, which can be added dynamicly

[2016-11-03 21:24] jayphelps commented on #41
WAI-ARIA has a guide for making sliders (including ones with multiple handles, called "thumbs"): https://www.w3.org/TR/wai-aria-practices/#slidertwothumb

There are even reference implementations: http://www.oaa-accessibility.org/examplep/slider1/

tl;dr don't use an input, use `tabindex="0"` w/ all the other necessary aria attributes and then the JS listeners for keydown stuff.

[2016-11-04 16:59] teameh commented on #41
Yeah that would be an even better solution! 👍

[2016-11-22 09:42] axlebedev opened #94 "Crash in Win7-IE11"
![image](https://cloud.githubusercontent.com/assets/3949614/20518707/1fd4e054-b0b1-11e6-9461-c00f4a253f3b.png)

Sometimes catch this bug

[2016-11-29 19:33] shin-monkey commented on #91
Maybe we all could share the styling made for this.

[2016-11-30 21:50] alexisross commented on #91
Hi, here an example (but the counter disappear for me, anyway not sure it's a problem of css):
![react-slider-orange-pill](https://cloud.githubusercontent.com/assets/17320998/20772817/56bd1c18-b74f-11e6-9499-e6af82ab0230.png)

[code]

[2016-12-08 23:13] simon-online opened #96 "onAfterChange callback is called when no change occurs"
Hi,

I'm using v0.7.0 and the onAfterChange callback is getting called when no change occurs. For example if I just click on or tap a handle without changing it's value or drag a handle away from and then back into the original position the onAfterChange callback is still getting called.

It would be much better if the onAfterChange callback is only called if a slider value actually changes.

[2017-01-16 12:24] hinok commented on #91
I wouldn't say that it's an issue. In my opinion this is a big plus that `react-slider` can be easily customized because it is shiped without styles.

![my-slider](https://cloud.githubusercontent.com/assets/1313605/21982925/dd3ac4ac-dbee-11e6-914c-07326365408f.gif)

[2017-01-16 12:26] shin-monkey commented on #91
@hinok could you please share this style? It looks great!

[2017-01-20 07:17] foxbunny commented on #89
This could get ambiguous (for the end user) when using two-handle sliders, though.

[2017-02-24 09:18] JoaoPintoM commented on #91
@hinok yes plz, can we have this style ?

[2017-02-24 09:51] hinok commented on #91
@shin-monkey @JoaoPintoM I'm sorry but I cannot share it because it's internal wrapper for a product of one of my clients.

I just showed this gif as a proof that it's good that `Default style looks bad.`

[2017-02-24 14:48] Mike-Bell opened #98 "Use of Legacy String Ref API"
Code has 2 uses of `this.refs` and the "legacy string ref API"

[code]

According to [relevant React docs](https://facebook.github.io/react/docs/refs-and-the-dom.html#legacy-api-string-refs), "string refs have some issues, are considered legacy, and are likely to be removed in one of the future releases".

[2017-03-03 18:32] lorinkoz opened #99 "Handle reordering / Let handle cross over another handle"
In some use-cases, it might be necessary to let one handle cross over another handle. While I understand the purpose a slider may contradict this requirement, perhaps there is a not-so-hard way to enable this or work it around. Is this possible? Thanks.

[2017-04-05 09:07] jaaqo opened #100 "Tag a new release 0.7.0"
Hey,

Could you tag a new release so I don't have to depend on master for [cljsjs](http://cljsjs.github.io/) build?

Cheers

[2017-04-05 15:26] jesusgp22 opened #101 "Drag and Drop selected range instead of dragging handle"
I am trying to use [react-slider][1] to build a range selector component that I will later integrate with a chart, my goal is to be able to both drag and drop handles to change the min and max values of the range or to be able to drag the selected range across the range selector, similar to what highcharts does with their range selector (example: [highcharts range selector][2])

  [1]: https://git

[2017-04-26 09:10] senkevichdv commented on #101
Any news about this behaviour?

[2017-04-28 15:27] nikitatrifan opened #102 "React 15.5"
Hi guys, I'm just updated React to v15.5 and it's throwing this error below -

`Warning: ReactSlider: React.createClass is deprecated and will be removed in version 16. Use plain JavaScript classes instead. If you're not yet ready to migrate, create-react-class is available on npm as a drop-in replacement.`

Could you fix it please?

[2017-05-10 09:41] fluse commented on #102
And

Accessing PropTypes via the main React package is deprecated. Use the prop-types package from npm instead.

[2017-05-15 05:08] rutfin opened #103 "Set Value and Color Bar Dynamically as parameters"
Hi guys,
is it possible to set the BAR colours as parameter when setting the value or at least sending as an Array, so it will work when setting colours dynamically (No depending on CSS class **bar-1**, **bar-2**...).

I mean can we set them in the property
**Value**: [{ value: 5, color: red }]

or send a new Array

**value**:[5, 20, 30]
**withBars**
**barColour**:['red', 'blue', 'yellow']

I Just

[2017-05-23 14:38] Bjorgvin commented on #102
I noticed the [PR-104](https://github.com/mpowaga/react-slider/pull/104) from @spiderbites, but how prop-types and create-react-class are imported didn't seem to comply with the _spirit_ of the project; Hope it's ok that I added my own [PR-105](https://github.com/mpowaga/react-slider/pull/105)

If this isn't merged soon, @mpowaga, my version can used like `"react-slider": "Bjorgvin/react-slider#ma

[2017-05-24 17:58] #102 closed, assigned to nobody

[2017-05-24 18:03] mpowaga commented on #94
Fixed by #105.

[2017-05-24 18:03] #94 closed, assigned to nobody

[2017-05-26 11:44] Bjorgvin commented on #102
@mpowaga when can we expect this to be added to a version on npm? Also, I'm looking at [npmjs/react-slider](https://www.npmjs.com/package/react-slider) and it says the latest version is 0.7.0 but the [github/releases](https://github.com/mpowaga/react-slider/releases) shows v0.6.1 as the latest.

Anyway... would like to have a clean package.json with a simple reference to react-slider `"react-slide

[2017-06-01 19:25] AlesJiranek opened #106 "Wrong version in npmjs.com repository"
Hello,

could you please fix version of react-slider in npmjs.com repository?
Current version published there is tagged as 0.7.0 but contains code of older version.

[2017-06-07 11:57] wisdom2014 opened #107 "Can we have a new release ?"
Hi @mpowaga ,

I love your react-slider, but due to updates to the latest React version i'm getting React.createClass and Proptype warnings. I see this is already fixed in master so I was wondering if you will make a new release soon.

Thanks so much

[2017-06-08 11:49] mpowaga commented on #107
New version released.

[2017-06-08 11:49] #107 closed, assigned to nobody

[2017-06-08 11:49] mpowaga commented on #106
Released new version 0.8.0.

[2017-06-08 11:49] #106 closed, assigned to nobody

[2017-06-08 11:50] #100 closed, assigned to nobody

[2017-06-08 11:52] mpowaga commented on #70
Version 0.8.0 fixes the problem. If you are opening index.html from your local machine you must `npm install react react-dom create-react-class prop-types` first.

[2017-06-08 11:52] #70 closed, assigned to nobody

[2017-06-08 11:55] mpowaga commented on #35
@BDiehr Closing due to age of this issue. Feel free to reopen if it still doesn't work.

[2017-06-08 11:55] #35 closed, assigned to nobody

[2017-06-10 05:51] vibhas77 commented on #103
Hi,

I have also been looking for similar solutions. Did it work?

[2017-06-14 19:45] axelg12 commented on #87
I am experiencing the same error, @michaelsync did you ever figure it out? CC: @jamesbrauman

[2017-06-28 20:52] odama626 opened #109 "Inside variable width container, thumbs go off bar"
![image](https://user-images.githubusercontent.com/11347689/27659535-7b2072e8-5c19-11e7-8223-abb55f80aa4c.png)

Setting a thumb to max value by default puts the thumb off the bar until resizing browser window or scrolling.

Only seen in mobile view in chrome and on mobile devices

I think PR#72 would fix this

[2017-07-21 16:11] kunokdev commented on #69
@foodaka it seems that it doesn't work even with your workaround?

[2017-08-13 12:22] VanDavv commented on #69
@foodaka @istrel this issue is still present, workaround doesn't word, should be reopened!

[2017-08-13 20:46] istrel commented on #69
@VanDavv DId you try to use CommonJS require? It should work with webpack:
[code]

[2017-08-15 08:13] VanDavv commented on #69
Yes, and I still didn't manage to see the slider. Sorry, but i ended up using `rc-slider`

[2017-08-18 03:09] B-Reif opened #112 "Clicking bar always snaps to max value"
My slider is always set to the max value on click, no matter where on the bar I click. Resizing the window fixes the issue.

https://giphy.com/gifs/xT39Dn7OvZYUJVYVRS/html5

I suspect this is because the slider is inside of a menu that slides in, so it's in a rather different position than it was at render time.

I'd rather not wait until the menu has slid in to render the slider. Could the slider

[2017-08-21 19:00] B-Reif commented on #41
I've created a pull request to add some basic keyboard accessibility ([#113](https://github.com/mpowaga/react-slider/pull/113)). I'd appreciate it if we could review this PR.

[2017-08-24 21:16] #41 closed, assigned to nobody

[2017-08-27 03:40] deadghost commented on #112
Similar issue. Clicking the min-value handle snaps the max-value handle to the max. I'm using an older version though so can't say if it's been resolved since.

[2017-09-08 01:36] sckoh commented on #69
im unable to see the slider too

[2017-09-20 15:08] ghost commented on #99
Agree on this. Any update please?

[2017-09-25 22:28] nigelrobbins3 commented on #69
The slider is hidden by default. The divs are there with the right classes, but without CSS rules they are empty. Hopefully it's just a matter of adding the CSS you want.

[2017-10-13 16:45] jshthornton opened #115 "Handle doesn't start at the correct position in React 16"
When using react 16 the handle does not start at the position you give it.

For example:

[code]

The handle will be at 0 and not draggable until you click on the bar.

[2017-10-13 21:23] Nesciosquid commented on #115
Can confirm!

[2017-10-18 22:15] Artforge commented on #115
+1

[2017-10-19 17:34] hennadiy-kudashev commented on #115
+1

[2017-10-20 21:23] caseybaggz commented on #115
Same.

[2017-10-24 13:53] martinschnurer commented on #115
Ugly workaround for controlled slider:

[code]

[2017-10-24 14:38] caseybaggz commented on #115
@mpowaga do you have plans on updating to v16 in the near future?

[2017-11-08 16:48] jontro opened #117 "[Intervention] Unable to preventDefault inside passive event listener due to target being treated as passive"
Chrome gives the following warning when using the latest version of react-slider.
[Intervention] Unable to preventDefault inside passive event listener due to target being treated as passive. See https://www.chromestatus.com/features/5093566007214080
e @ react-slider.js:17
_onTouchMove @ react-slider.js:506

[2017-11-17 13:44] ghost opened #120 "Support for react 16"
I have the following error. How to fix it?

```Can't resolve 'create-react-class' in```

[2017-11-28 17:41] erosenberg commented on #115
This is happening for me too!

[2017-12-03 19:59] cascornelissen commented on #120
I ran into the same issue and I'm fixing it by installing [`create-react-class`](https://www.npmjs.com/package/create-react-class) manually for now:

[code]

[2018-01-03 18:32] not-mike-smith commented on #98
I saw this and it caused the code not to work in my environment.  I read through the link you posted and changed the code in a fork.  I'm new to both open source and front end coding, but my fix is [available here](https://github.com/smithmb-code/react-slider/commit/846aaf6b62e559dc49076211603b2d9e92b43264) for review

[2018-01-03 19:44] Mike-Bell commented on #98
that looks about right to me. Are you using React 16? wonder if they finally remove string refs there.

[2018-01-04 02:03] not-mike-smith commented on #98
I'm using React 15.6.2, actually.  Should I make a pull request?  Thanks

[2018-01-09 21:46] laurenkt commented on #115
As an alternative to @martinschnurer's workaround if you are using props instead of state, or if you just want to avoid referencing your initial state twice, you can just do this on your component:

[code]

[2018-02-08 20:25] lukashlavacka commented on #115
See https://github.com/mpowaga/react-slider/pull/114 for a fix

[2018-02-15 19:59] mryarbles opened #123 "upperBound in set incorrectly with React 16"
We upgraded version of React to 16. Now the multi slider is broken.

The right slider has ```left: 0px```.

When ```_handleResize``` is called initially the 'clientWidth' property of the slider must be 0, so the upperBound property is calculated incorrectly.

Right now my fix is to force a render in the component by updating a property in a timeout. Obviously that's not great.  Haven't found a fix

[2018-02-27 15:18] awartoft commented on #123
We are also suffering from this problem, does anyone have a better fix?

[2018-02-28 23:14] mpowaga commented on #123
Version 0.10.0 now supports React 16 and fixes this issue.

[2018-02-28 23:14] #123 closed, assigned to nobody

[2018-02-28 23:17] mpowaga commented on #120
Looks like information about peer dependencies is missing in readme.

[2018-02-28 23:18] mpowaga commented on #115
Fixed in version 0.10.0.

[2018-02-28 23:18] #115 closed, assigned to nobody

[2018-03-01 19:16] mpowaga commented on #103
You can already do that with custom handles, e.g.

[code]

[2018-03-01 19:16] #103 closed, assigned to nobody

[2018-03-01 19:19] mpowaga commented on #93
This must be handled by your application. Seems like you are trying to reuse onChange callback function for multiple sliders. Instead you should create unique callbacks.

[2018-03-01 19:19] #93 closed, assigned to nobody

[2018-03-01 19:23] #65 closed, assigned to nobody

[2018-03-01 19:27] mpowaga commented on #63
Closing this issue because #67 has been merged.

[2018-03-01 19:27] #63 closed, assigned to nobody

[2018-03-05 22:08] atlidohop opened #124 "Support for aria-label"
It would be nice if it were possible to pass some `aria-*` props to the component, e.g.:

[code]

I've made some changes in `react-slider.js` to make this work for my use case. I simply add these attributes after line 750 in `_renderHandle()`:
[code]
Should I open up a PR with these changes? Do I need to consider anything else, like updating the README.md or the examples?

[2018-03-06 17:02] atlidohop opened #126 "Contributing could be easier"
Currently there are no instructions for developers to run this package locally to be able to test their contributions. To run, changes must be made in `package.json` and files served up locally with an external package, e.g. `live-server`. Not a big deal, but would be nicer if the setup was dead simple.

[2018-03-07 16:09] mpowaga commented on #126
`index.html` cannot be easily opened because it tries to load React and other modules directly from `node_modules` folder. These modules are marked as `peerDependencies` and are not installed automatically. Perhaps better solution would be to use cdn to load dependencies in `index.html`. Then it could be opened with:

`open index.html`

or

`python -m SimpleHTTPServer`

or any other command/tool w

[2018-03-07 16:11] #124 closed, assigned to nobody

[2018-03-07 16:12] #53 closed, assigned to nobody

[2018-03-08 18:17] jcristol opened #127 "Can't resolve 'create-react-class'"
Running a fresh install of react-slider. Trying to simply import `ReactSlider`. I get a node modules error that says `Module not found: Can't resolve 'create-react-class' in '/Users/JoshuaCristol/pspace/budgetbois/budgetapp/frontend-budgetapp/app/node_modules/react-slider'`. I suspect this is something to do with my version of react or because I am using create react app. I am new to react so I co

[2018-03-08 19:22] larrycustodio commented on #127
Try adding the `create-react-class` library in your dependencies, and then run your build script

`npm install create-react-class`

https://github.com/mpowaga/react-slider/issues/120

[2018-03-12 17:51] benny-medflyt opened #128 "Bug: NaN slider value on mobile after long-press (context menu event)"
This bug can be easily reproduced with the react-slider example: https://mpowaga.github.io/react-slider/

Open It in Chrome, open the "Developer tools" panel. Then turn on mobile device mode ("Toggle device toolbar").

Long press on one of the sliders (aim right in the middle, not near the edges), and then drag it. The value will turn to `NaN`.

![peek 2018-03-12 13-47](https://user-images.githubu

[2018-03-14 16:49] YoavHortman commented on #128
I had the same issue, very good demonstration btw

[2018-03-15 05:48] Harshit5295 opened #130 "Unable to see slider"
I have included everything and my code compiles well but I can't see my slider on browser.

[2018-03-19 08:38] axelg12 commented on #120
#131 Fixes this right?

[2018-03-25 14:02] #128 closed, assigned to nobody

[2018-03-25 14:03] #98 closed, assigned to nobody

[2018-03-25 14:04] mpowaga commented on #130
Make sure you've styled a slider with CSS. Check [index.html](https://github.com/mpowaga/react-slider/blob/master/index.html) to see how to do it.

[2018-04-09 13:58] Mike-Bell opened #132 "Missing React-Dom peer dep"
You probably wanna add this to your peerDependencies

`"react-dom": "^16.2",`

(I installed all the list peer dependencies, but wasn't able to run the harness until I installed this one too)

[2018-04-09 15:01] Mike-Bell opened #133 "Dynamic slider handle size isn't accounted for"
If my slider handles are a dynamic size, they can extend beyond the limits of the slider in some situations.

Here's a concrete (and pretty reasonable / practical) example:

[code]

In this example, I display the value of the slider on the handle as it moves (a fairly reasonable thing one might want to do).

![image](https://user-images.githubusercontent.com/8780033/38505536-6560492c-3be5-11e8-9af

[2018-04-09 15:25] Mike-Bell commented on #133
See https://github.com/mpowaga/react-slider/pull/134

[2018-04-09 19:21] mpowaga commented on #132
It's only needed to run the example. This will be easier once #126 is solved.

[2018-04-09 19:21] #132 closed, assigned to nobody

[2018-04-09 19:39] mpowaga commented on #133
I think that better solution would be to provide `forceResize()` so that users can create their own logic. The problem is that resizing the slider on each prop change is inefficient. Perhaps the best way is to use [ResizeObserver](https://wicg.github.io/ResizeObserver/) but it's only supported by Chrome at the moment.

So with `forceResize()` method users could use the best solution for their case

[2018-04-10 00:56] Mike-Bell commented on #126
I took a crack at it here https://github.com/mpowaga/react-slider/pull/135

[2018-04-20 08:57] sebmor commented on #128
The workaround provided is only a patch, it will now just revert to the previous location before it was NaN.
But the behaviour as described on top still exists.

A real solution would be that this just doesn't occur.

[2018-04-23 05:32] benny-medflyt commented on #128
@sebmor Can you please elaborate? The fix in #129 was meant to completely solve this issue and as far as I can tell it does

[2018-04-23 09:21] sebmor commented on #128
@benny-medflyt  It doesn't. What happens now on mobile is when you hold for a few seconds and then drag, after you let go it will go back to the start position.

If you see in the code https://github.com/mpowaga/react-slider/commit/7a16457678a2e0363e67eceb87b6be57aa811071 all that happened was, if the position is undefined, to go back to the start position.

But the main bug where you hold for a f

[2018-06-20 12:47] nahushf opened #136 "Both slider handles on the min side when rendering slider in a dropdown"
I am trying to render a slider in a dropdown menu(I am using a [custom react bootstrap dropdown](https://react-bootstrap.github.io/components/dropdowns/#btn-dropdowns-custom) ). When doing this however both the handles are at the left most end of the slider. The slider behaves normally after clicking a few times on the slider.

![image](https://user-images.githubusercontent.com/16218574/41656767-c

[2018-06-24 19:12] danadn commented on #136
I'm experiencing the same issue.

The weird thing is that it worked at some point... did you manage to find the way to make it work?

[2018-06-28 12:05] YoavHortman opened #137 "Buggy display on IOS when placed in scrollable component"
When using the component in a scrollable component in an ios cordova app touching a slider will not prevent the default scroll behaviour and will start to glitch and display in a corrupted way.

Maybe prevent default on touch so that wouldn't happen?

[2018-06-28 14:55] YoavHortman commented on #137
Was able to solve this using the following work around:
[code]

but still it seems like this should be default behavior

[2018-07-03 08:20] georgegillams commented on #136
We are experiencing this too.

[2018-07-10 14:36] msheal commented on #136
Same issue =(

[2018-07-16 10:56] k0nserv commented on #136
What version is everyone using? We are on `0.9.0` and I'm curious if this relates to the change in `0.10.2` that prevents flickering. I can reliably reproduce that flickering on our version.

[2018-07-16 10:56] k0nserv commented on #136
@mpowaga do you have insight on this?

[2018-07-16 12:44] k0nserv opened #139 "Incorrect react peer depedencies"
Hey @mpowaga,

I was just looking at another issue(#136) and noticed that the peer dependey for react is `^16.2`. This seems incorrect to me as the package works with React 15. Shouldn't it be `^15.x || ^16.2` or something like that? I tried it with 15.6.1 and read the source and as far as I can tell there's nothing in there that requires React 16

[2018-07-16 14:44] d07RiV commented on #127
Why isn't it in package dependencies? Adding it to my project dependencies is wrong, because if I choose to switch to a different slider library, I will have unnecessary dependencies left in my config.

[2018-07-17 08:43] k0nserv commented on #136
I dug into this some more and the issue is resolved on `0.11.2`. I think th peer depedency needs to be change as described in #139, but other than that just upgrading should solve this

[2018-07-19 08:52] danadn commented on #136
I've just tested using the default example:
![image](https://user-images.githubusercontent.com/1528129/42932106-b738daf6-8b41-11e8-8648-ec1f374a0ed9.png)

Did anyone find the solution?

For some reason the right handle offset wrong:
![image](https://user-images.githubusercontent.com/1528129/42934526-bb8f43aa-8b47-11e8-9a0d-2007cdbf893d.png)

Still debugging...

[2018-07-19 10:42] k0nserv commented on #136
@danadn are you on the latest version? I could not replicate it on that version

[2018-07-21 09:55] danadn commented on #136
Ok, guaranteed that "version": "0.11.2" fixes it.

Thanks @k0nserv !

[2018-08-29 15:02] alex-blair commented on #117
I added the CSS property `touch-action: none;` to my slider style and that stopped the warning. Was suggested here: https://stackoverflow.com/questions/42101723/unable-to-preventdefault-inside-passive-event-listener

[2018-12-20 14:32] geoalexidis commented on #136
Ok so I experienced the same problem, and upgrading to "0.11.2" didn't fix it. I remember that on earlier stages this worked just fine. Anyway...

Instead, I found a workaround, by assigning a **key** to my component, that matches if the dropdown is open or closed. That way the component will be rerendered.

So something like this did the trick for me, where filterBlockOpen is a boolean for the dr

[2018-12-26 13:30] techgyani commented on #120
#131 is not a automatic fix. create-react-class is declared as peer dependency, therefore it is required to install the same manually in the project.

May be in the favour of ES6, this dependency can be dropped in future by @mpowaga.

[2018-12-28 10:17] jenniredfield opened #142 "Handles not aligning with labels"
Hi guys,

This is not an issue with the package per se, but I need to use the range slider and have some labels underneath it, the problem being I can't make the labels centre align with the handles. See example:
https://codesandbox.io/s/0312l75vpw

The problem is my text offset is obviously different to handle offset.

I was looking for suggestions :) What do people think?

1) Render the offset o

[2019-01-04 10:50] jenniredfield commented on #142
Solved it

[2019-01-04 10:50] #142 closed, assigned to nobody

[2019-01-11 15:21] jlfalcon3589 commented on #41
WAI-ARIA has a guide to make sliders (https://github.com/mpowaga/react-slider/issues/41#issuecomment-258278570), currently does not support events for the Page Up, Page Down, Home and End key.

Making a wrapper of the component I can handle events, but I do not know which handle I have active when increasing or decreasing the value.

In what way could I know which driver I have active, or if there

[2019-01-31 22:41] gauthierm opened #143 "With inverted vertical slider the arrow keys move the slider in the wrong direction"
I'm making a volume control that is vertical and inverted. When the handle is focused, the arrow keys move the slider the opposite of what is on the screen (down moves up, up moves down).

[2019-04-04 09:32] StarNeit commented on #143
Hi @gauthierm
Did you find reason of issue?

[2019-08-08 18:14] gauthierm commented on #143
@StarNeit Yes. The issue is the keyboard handlers do not check `this.props.inverted` before adding or removing values.

[2019-08-08 18:15] gauthierm commented on #143
Fixed in https://github.com/mpowaga/react-slider/pull/144

[2019-08-29 08:31] bitfella opened #3 "onAfterChange callback is never fired"
Hello, unfortunately I can't make onAfterChange callback work. It never fires.
Perhaps I am doing something wrong? Documentation isn't very explanatory.

See this codesandbox for a (not) working example: https://codesandbox.io/s/charming-edison-b9l7v

Thanks

[2019-09-19 23:29] stonebk commented on #3
Sorry, for some reason notifications were not enabled on this repo for me. This is a bug that was pointed out in a PR as well. I'll try to get a fix ASAP!

[2019-09-19 23:39] #3 closed

[2019-09-19 23:41] stonebk commented on #3
`@zillowgroup/react-slider@2.0.1`

[2019-09-23 13:22] #99 closed, assigned to nobody

[2019-09-30 02:45] wavesbig opened #148 "Typescript support"

[2019-09-30 07:03] wavesbig commented on #148
## Are there @types packages provided

[2019-09-30 18:28] stonebk commented on #148
Not currently. We do not use typescript in our projects at Zillow, so we don't currently have a need for it. If somebody would like to submit a PR, I'd be happy to review and merge!

[2019-10-02 18:44] stonebk commented on #120
Fixed with #147

[2019-10-02 18:44] #120 closed, assigned to nobody

[2019-10-02 18:45] stonebk commented on #126
Should be a better dev experience now with #147

[2019-10-02 18:45] #126 closed, assigned to nobody

[2019-10-02 18:46] stonebk commented on #127
Fixed with #147

[2019-10-02 18:46] #127 closed, assigned to nobody

[2019-10-02 19:01] stonebk commented on #143
Fixed with #147

[2019-10-02 19:01] #143 closed, assigned to nobody

[2019-10-17 02:43] markcorrea commented on #109
<img width="327" alt="Screen Shot 2019-10-16 at 23 42 03" src="https://user-images.githubusercontent.com/12589403/66973513-9518a580-f06e-11e9-8939-e07c2c985696.png">

Having the same issue here. But in my case, no matter the format (desktop, mobile) or if I resize the screen or move the thumbs, if I put it in the max, it will be cut, and only on the right side. I've tried to change the CSS but it'

[2019-10-17 17:16] stonebk commented on #109
@markcorrea what version are you using? Can you provide a repro on https://codesandbox.io/?

[2019-10-21 16:40] #15 closed, assigned to nobody

[2019-10-21 16:40] #83 closed, assigned to nobody

[2019-10-21 16:40] #59 closed, assigned to nobody

[2019-10-21 16:40] #40 closed, assigned to nobody

[2019-10-21 16:40] #44 closed, assigned to nobody

[2019-10-21 16:40] #81 closed, assigned to nobody

[2019-10-21 16:40] #88 closed, assigned to nobody

[2019-10-21 16:41] #96 closed, assigned to nobody

[2019-10-21 16:41] #89 closed, assigned to nobody

[2019-10-21 16:41] #101 closed, assigned to nobody

[2019-10-21 16:41] #87 closed, assigned to nobody

[2019-10-21 16:41] #91 closed, assigned to nobody

[2019-10-21 16:41] #112 closed, assigned to nobody

[2019-10-21 16:41] #130 closed, assigned to nobody

[2019-10-21 16:41] #133 closed, assigned to nobody

[2019-10-21 16:41] #137 closed, assigned to nobody

[2019-10-21 16:41] #139 closed, assigned to nobody

[2019-10-21 16:41] #117 closed, assigned to nobody

[2019-10-22 16:49] benzitohhh opened #149 ""componentWillReceiveProps" shows deprecated warning"
On React 16.8.6, I get the below warning in the browser console:

[code]

[2019-10-22 18:27] #149 closed, assigned to nobody

[2019-10-22 18:29] stonebk commented on #149
`componentWillReceiveProps` has been updated to `UNSAFE_componentWillReceiveProps` until a larger refactor is done.

Fixed in `react-slider@1.0.1`

[2019-10-23 07:09] khenlevy opened #150 "IE9 support ?"
currently nothing shown when entering :
https://zillow.github.io/react-slider/

No support to Internet Explorer 9.
any plans to support it?

[2019-10-23 09:44] benzitohhh commented on #149
@stonebk - wow thanks for fixing this so quickly - much appreciated!

[2019-10-23 10:33] lenilsonjr commented on #148
fyi: while there's no types for `react-slider`, you can use `//@ts-ignore` right before the module import to use the package without typechecking:

[code]

[2019-10-23 19:12] stonebk commented on #150
IE9, eeek!

Right now the lowest I'd say we officially support is IE11. I know react-styleguidist has an issue with IE that we are working around in create-react-styleguide. We may need to update create-react-styleguide to get those changes though...

[2019-10-23 19:30] #150 closed, assigned to nobody

[2019-10-23 19:31] stonebk commented on #150
@khenlevy, OK, I updated create-react-styleguide -- the docs should now be working correctly in IE11. Note, this was only an issue with the docs, and not the component.

[2019-10-24 17:36] #109 closed, assigned to nobody

[2019-10-25 20:14] olliecurtis commented on #127
Hey @stonebk 👋

I am receiving this issue when compling and running the library, from doing some digging it seems you are referencing `create-react-class` in the `index.html` file:

`<script src="node_modules/create-react-class/create-react-class.js"></script>`

Can we add it as a dependency to this library?

I see it was added in this PR https://github.com/zillow/react-slider/pull/104

Then remov

[2019-10-25 21:36] stonebk commented on #127
Oops, that index.html file is no longer valid and should be removed! You should run the library with `npm run start` now.

[2019-10-25 21:40] stonebk commented on #127
@ojcurtis, ok, all cleaned up now:
https://github.com/zillow/react-slider/commit/21265f72904450169c46bccb06cb540a2aa634d0

[2019-10-28 09:07] olliecurtis commented on #127
@stonebk - Is is possible to create a release for this fix? As I am still getting the error when compling my library and using `react-slider` as a dep

[code]

[2019-10-28 19:40] stonebk commented on #127
@ojcurtis Version `1.0.0` and greater does not have any dependency on `create-react-class`. What version are you on?

`npm ls react-slider`

[2019-10-29 09:23] olliecurtis commented on #127
@stonebk thanks for the response, I see I just need to upgrade my dependency 😄 current version `react-slider@0.11.2` so will explain it. Cheers for the confirmation should've checked that first

[2019-10-31 17:38] WhiteheadAaron opened #151 "Kebab casing causing aria errors in console"
Thanks for taking over this codebase, we love it and are glad it's being maintained again. After implementing the newest updates, we found an error that shows up in the console related to aria settings. We went into the node_modules and were able to solve it ourselves, and tried to open a PR for you, but it appears that part of the code is private on GitHub.

I attached some screenshots to make it

[2019-10-31 23:19] stonebk commented on #151
Here is the code in question:
https://github.com/zillow/react-slider/blob/master/src/components/ReactSlider/ReactSlider.jsx#L881-L885

@WhiteheadAaron the errors seem to suggest that the aria props are being added to a css style object. What does your code look like to produce those errors?

kebab case should be supported for aria props per the React documentation:
https://reactjs.org/docs/accessi

[2019-10-31 23:24] stonebk commented on #136
Closing due to inactivity.

[2019-11-01 18:14] WhiteheadAaron commented on #151
@stonebk Thanks for the quick reply, seems like you were correct that it was coming from a css styled component. Basically what was happening was that the aria props coming from your component were being spread to our emotion styled component, which was throwing the error for using kebab casing. We just changed the way that we were passing the props and it solved the problem 👍

[2019-11-02 09:05] waynevanson commented on #148
Types are available, but need to be updated and generics added: https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/react-slider

Alternatively, I'd be happy and would prefer to rewrite this in typescript to future proof it.

Which would you prefer @mpowaga?

[2019-11-02 10:29] waynevanson commented on #148
I just submitted a thick PR to DefinitelyTyped: https://github.com/DefinitelyTyped/DefinitelyTyped/pull/40094

I used the prop types, assuming they're in date.

[2019-11-03 02:31] waynevanson commented on #148
@stonebk

[2019-11-04 21:03] #151 closed, assigned to nobody

[2019-11-04 21:11] stonebk commented on #148
@waynevanson, thanks for looking into this! Yes, the prop types should be up to date. Forgive my ignorance, does anything need to happen within this project, or do people just pull the definitions directly from definitelytyped?

[2019-11-22 01:29] waynevanson commented on #148
People pull the definitions by running `yarn add -D @types/react-slider` :)

[2019-12-11 11:21] hugomassing opened #152 "Thumb size/offset does not take in account the border of the thumb"
Hello,

when I'm adding a 1px border to the thumb, the calculated offset if the thumb only taking the width value without the border.

gist exemple : https://gist.github.com/hugomassing/156eef503df8ba7d1a087eb36353de03

[2019-12-12 13:46] vdhyani-binary opened #153 "Ticks not available"

[2019-12-12 20:59] stonebk commented on #153
More information about what you are expecting in terms of an API change would be helpful. I'm assuming you are asking for something along the lines of:
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/range#Adding_hash_marks_and_labels

[2019-12-12 21:06] stonebk commented on #152
I think you just need `box-sizing: border-box`:

[code]

[2019-12-13 07:44] vdhyani-binary commented on #153
Tick i mean Marks that is the range below slider that option is missing into this library....

[2019-12-13 09:45] vdhyani-binary commented on #153
![Capture](https://user-images.githubusercontent.com/58029027/70790550-51ff5800-1dbb-11ea-96ba-c56adbd42dfd.PNG)

[2019-12-13 21:02] stonebk commented on #153
How should it handle larger ranges of values where rendering every mark wouldn't fit?

[2019-12-16 04:37] vdhyani-binary commented on #153
that is the step which is move with the handle, other library provide the solution with same way

[2019-12-16 07:42] vdhyani-binary commented on #153
as in the library we have min max and step props so according to that we can generate the array to show in the scale.
0  1  2   3  4   5........

[2019-12-16 07:42] vdhyani-binary commented on #153
as in the library we have min max and step props so according to that we can generate the array to show in the scale.
0 1 2 3 4 5........

but i need dynamic solution..

[2019-12-19 20:44] vdhyani-binary opened #154 "renderThumb: not working using styled component"
const thumb = (props, state) => <StyledThumb {...props}>{state.valueNow}</StyledThumb>;
renderTumb ={Thumb}

![s1](https://user-images.githubusercontent.com/58029027/71208125-61583700-22ce-11ea-850c-4ae3393200a4.PNG)

above code is showing overlap all the thumb with single showing track, when i used below code instead of above now i can see all track with all the thumb but now i am not getting Thu

[2019-12-20 00:50] stonebk commented on #154
Have you looked at the very last example in the documentation? It is using styled-components and `renderThumb`:
https://zillow.github.io/react-slider/

[2019-12-20 01:00] stonebk commented on #148
@waynevanson does this make sense? https://github.com/zillow/react-slider/pull/155

[2019-12-20 04:09] vdhyani-binary commented on #154
yes! i have used in same way

[2019-12-20 16:43] stonebk commented on #154
Are you referring to the fact that your border and margin is not showing up?

The render function passes `style` as one of the props that you are spreading onto the div, and since it comes after your own `style` attribute, it is overriding it.

You need to merge the style objects if you want to use inline styles like that.

[code]

[2020-01-07 16:12] pt8o opened #156 "Clicking on track on vertical slider is buggy"
This can be reproduced on the [your demo site itself](https://zillow.github.io/react-slider/).

1. Scroll down to the vertical slider. Click on the track: the nearest thumb should jump to where you clicked
1. Refresh the page (e.g. `cmd+r`). The page should reload already scrolled to the same location.
1. Click the track

Expected:
* nearest thumb should jump to where you clicked

Actual:
* the bo

[2020-01-09 09:42] hugomassing commented on #152
@stonebk Hello, even with `box-sizing: border-box`, thumbSize is not taking into account the border. Only solution I found is to substract the my border*2 to the width of the Slider.

[2020-01-10 00:51] stonebk commented on #156
OK, I wasn't able to repro in Chrome, but it did repro in Firefox.

[2020-01-10 00:52] stonebk commented on #156
Also, thank you @pt8o for the detailed bug report!

[2020-01-10 01:07] stonebk commented on #152
@hugomassing here is your code in a codesandbox:
https://codesandbox.io/s/elated-bush-xzjv6

Can you update that example to make it more clear what the issue is you are having?

[2020-01-10 01:11] stonebk commented on #156
Looks like it is only an issue with the vertical slider, can you confirm?

[2020-01-10 02:40] pt8o commented on #156
@stonebk yep, only on the vertical slider.

I was able to reproduce on Chromium on Linux, I can try Chrome on Mac again tomorrow

[2020-01-10 09:47] hugomassing commented on #152
@stonebk  I've updated my exemple. It happens when using the slider in a fixed width `div`, i.e. a modal. I've included the "hack" fix I use. You can see the `overflow: scroll` is making the slider scroll horizontally.
https://codesandbox.io/s/clever-frog-eyj3p

Hope it's clearer for you! sorry for my first explanation.

[2020-01-10 23:28] stonebk commented on #156
OK, the issue isn't browser related, it's related to window scrolling. If you are scrolled to the top, it works as expected, but if you scroll down, then it breaks.

Working on a fix...

[2020-01-10 23:53] #152 closed, assigned to nobody

[2020-01-11 00:02] #156 closed, assigned to nobody

[2020-01-11 00:03] #148 closed, assigned to nobody

[2020-01-11 00:06] stonebk commented on #156
Published in `react-slider@1.0.2`

[2020-01-11 00:06] stonebk commented on #152
Published in `react-slider@1.0.2`

[2020-01-11 03:30] waynevanson commented on #148
@stonebk yes it does!

[2020-01-11 03:32] waynevanson commented on #148
@stonebk My pull got rejected, so all credit goes to:

+ @jsonunger
+ @bjorgvin

[2020-01-13 08:48] hugomassing commented on #152
Thank you so much!

[2020-01-20 13:33] malikiz opened #159 "What is tabIndex in renderThumb props and why is it always 0?"
I want to get thumb index. Using `key` bad for me, because I use withStyles and I do not want parse `key` to get index
https://github.com/zillow/react-slider/search?q=tabIndex&unscoped_q=tabIndex

[2020-01-20 20:59] stonebk commented on #159
`tabIndex` is is for focus support for accessibility. Read more about it here:
https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/tabindex

If you want to get the index, you just need to get it from the state param of the render prop function:
[code]

See the prop documentation for more information here:
https://zillow.github.io/react-slider/

[2020-01-20 20:59] #159 closed, assigned to nobody

[2020-01-20 21:01] #154 closed, assigned to nobody

[2020-01-30 00:47] ChrisCates opened #160 "Describe styles"
In the examples, the CSS is not described.

It would be a good idea to include the stylesheets in the examples so that people can more efficiently style their sliders their own way.

**Yes there is a `styled-components` example, but some people may be using CSS and/or SCSS and the examples provided do not show the CSS used.**

[2020-02-01 12:21] GenisDiaz opened #161 "Double call in onAfterChangeSlider method"
Hi!

I use the onAfterChangeSlider method to do a request with the new range values and this method is called twice every time I move a thumb.

Is this the regular behavior, or I'm doing something wrong?

thanks in advance!

[2020-02-11 06:46] TreTuna commented on #161
I was just coming on here to report this. We use the `onAfterChange` method for analytics tracking and are now getting double reporting. I'm having to revert back our install to v0.11.2 for now until I can figure out what's going on here. What I've figured out so far is that it's getting called once after the change and then again after the slider loses focus.

[2020-02-13 18:55] stonebk commented on #161
Looks like `onBeforeChange` is also called twice 🤔

[2020-02-13 19:10] stonebk opened #162 "Unable to preventDefault inside passive event listener due to target being treated as passive."
We get the following console spam when using touch to move the slider:

Some references to the change in behavior and possible solutions:

* https://github.com/inuyaksa/jquery.nicescroll/issues/799#issuecomment-482200470
* https://developer.mozilla.org/en-US/docs/Web/API/EventTarget/addEventListener#Improving_scrolling_performance_with_passive_listeners

The fix might be to just explicitly set `{

[2020-02-14 19:47] #161 closed, assigned to nobody

[2020-02-14 20:05] #162 closed, assigned to nobody

[2020-02-14 20:06] stonebk commented on #162
`react-slider@1.0.3`

[2020-02-14 20:06] stonebk commented on #161
`react-slider@1.0.3`

[2020-02-19 06:53] SushanRajShakya opened #164 "Add documentation for the min, max, step feature"
This feature already exists but no documentation is present.

Eg:
`<ReactSlider min={0} max={500} step={5} /> `

[2020-02-19 17:58] stonebk commented on #164
It's documented if you click on props & methods:

https://zillow.github.io/react-slider/

<img width="398" alt="Screen Shot 2020-02-19 at 9 57 18 AM" src="https://user-images.githubusercontent.com/1432010/74860867-3bff9d80-52fe-11ea-8a39-80714f273833.png">
<img width="551" alt="Screen Shot 2020-02-19 at 9 56 29 AM" src="https://user-images.githubusercontent.com/1432010/74860817-25f1dd00-52fe-11ea-

[2020-02-19 17:58] #164 closed, assigned to nobody

[2020-02-21 08:28] #153 closed, assigned to nobody

[2020-02-21 13:45] hinok opened #165 "Add info that @zillowgroup/react-slider is now react-slider"
Hey,
I think it's worth to publish new version on https://www.npmjs.com/package/@zillowgroup/react-slider and updating readme and also adding specific package.json properties to inform people that package has moved from `@zillowgroup/react-slider` to `react-slider`.

[2020-02-21 14:38] hinok opened #166 "thumbActiveClassName is still in the DOM after dragging"
### Edit

I fixed the issue on my side by using good old css `:active` for my thumbs like:

[code]

[code]

I assume that the difference between `v0.11.2` and `v1.0.3` is caused by a11y improvements.
I close the issue.

---

Hey,
One of the previous versions of react-slider had functionality that after dragging thumbs with the mouse, `active` class (`thumbActiveClassName`) was always removed from

[2020-02-21 15:20] #166 closed, assigned to nobody

[2020-02-21 19:46] stonebk commented on #165
Good point! I'll make sure to do that, thanks!

[2020-03-03 13:52] theghostyced opened #168 "Dragging Slider Thumb doesnt update state, only clicking on Track does"
## Description
- I ran into this issue with the `react-slider` where if i drag the thumb, the new preview state is not shown until i actually click the track of the slider. Don't know if its something am doing wrong

[code]

[2020-03-03 17:54] stonebk commented on #168
Can you please create a codesandbox that reproduces the issue? Here is a template you can work from: https://codesandbox.io/s/zillowreact-slider-l3vuc

[2020-03-05 20:25] theghostyced commented on #168
Sorry it took a while to get back to you @stonebk but here is the reproduced version

https://codesandbox.io/s/keen-hill-mdlls?fontsize=14&hidenavigation=1&theme=dark

Dragging the slider doesnt update the price in the preview but clicking on the track does.

[2020-03-09 07:51] theghostyced commented on #168
Any updates on this @stonebk ?

[2020-03-09 18:33] stonebk commented on #168
@theghostyced, the problem here is that you are calling set state with the same array reference, so the component does not re-render even though the array values are being updated. You can fix this by setting a new array value:

[code]
https://codesandbox.io/s/morning-feather-u7c2x

[2020-03-09 18:33] #168 closed, assigned to nobody

[2020-03-09 18:48] theghostyced commented on #168
Thanks @stonebk

[2020-04-06 02:00] #160 closed, assigned to nobody

[2020-04-22 22:05] stonebk commented on #165
Done!

![Screen Shot 2020-04-22 at 3 04 55 PM](https://user-images.githubusercontent.com/1432010/80038518-a8d41700-84aa-11ea-9515-47d023fd5113.png)

[2020-04-22 22:05] #165 closed, assigned to nobody

[2020-05-05 23:05] N6MCA51593 opened #170 "Warning: Using UNSAFE_componentWillReceiveProps in strict mode is not recommended and may indicate bugs in your code"
The following error is logged in the console when the component loads:

Version: 1.0.4

EDIT: My bad, I didn't read the closed issues, I see you are aware of this already

[2020-05-06 00:31] #170 closed, assigned to nobody

[2020-05-07 14:57] viters opened #171 "Touch on mobile does not prevent vertical scroll"
Hey,

First I want to express my gratefulness. It's awesome to see a maintained range slider repository. And I love it being CSS-agnostic.

The one issue I noticed is that touching a slider thumb does not disable vertical scrolling. It makes using horizontal slider on mobile unfriendly and vertical one - impossible.

Tested on Android Firefox, Android Chrome and iOS Safari.

I may try to come up w

[2020-05-08 10:14] viters opened #172 "react-slider does not update on it's container / parent container style changes"
## Description

`react-slider` does not update on it's container / parent container style changes, nor it does not export any API to call update imperatively.

Creating adaptive width `react-slider` is currently hard to achieve (e.g. in flex container). The positions of slider elements update only after window resize.

My use case:
I use it within flex container with lazy loaded components nearby.

[2020-05-08 18:57] viters commented on #172
I wonder, what is the advantage of using pixels in calculating offset over using percentages? I assume percentage offsets would prevent resize issues.

[2020-05-09 16:22] stonebk commented on #172
I'm not sure what the original reason for using pixels vs percentage was -- AFAIK, that's been around since the original implementation. Maybe @mpowaga could stop in and provide some insight?

I think the tricky part would be to figure out how to deal with the thumb handles. If they are butted up against each other, and then you increase the size of the container, the handle positions would probab

[2020-05-09 16:26] stonebk commented on #171
I thought scrolling was accounted for with respect to touch events 🤔

Appears not, after a quick test on my phone. I would be happy to review a PR!

[2020-05-09 20:42] Narigo commented on #136
@geoalexidis thank you for sharing this, I still experienced this issue with version 1.0.5.

@stonebk I've created a reproducer in Storybook, maybe it can be used for Styleguidist as well to identify the issue:

[code]

[2020-05-10 16:08] viters commented on #171
I've researched it yesterday and there is a simple solution, adding `touch-action: none` to thumb will prevent scrolling on touch. I would not suggest setting it to whole slider, because it would be UX unfriendly - accidental slider touch to scroll page is a possible situation. It has a nice [browser support](https://caniuse.com/#search=touch-action). This solution also takes care of situation, wh

[2020-05-10 17:01] #171 closed, assigned to nobody

[2020-05-10 17:06] stonebk commented on #171
`react-slider@1.0.6`

[2020-05-10 20:50] foezahmed opened #175 "Clicking on the thumb produces inconsistent value"
## Description

Clicking on the different horizontal positions of the thumb `div` will produce different values based on slider position of that area.

![image](https://user-images.githubusercontent.com/18713861/81509861-6fffc300-932f-11ea-9651-1fa27f4fbff8.png)

In the above example, value 50 is expected after wherever click on that thumb.

I additionally looked into the code. Tried creating a se

[2020-05-14 15:09] geoalexidis opened #176 "npm start fails for contribution create-react-styleguide on windows"
Hi,

Wanted to contribute something.

After `npm install` and `npm start` the server doesn't start

[code]

my versions are:
[code]

[2020-05-14 19:01] viters commented on #176
This is probably a Windows specific issue and can be connected with `create-react-styleguide`. Until this is resolved, you may try using WSL.

[2020-05-15 06:52] geoalexidis commented on #176
@viters thx.

Im running it on WSL now.

[2020-05-15 06:52] #176 closed, assigned to nobody

[2020-05-15 16:03] stonebk commented on #172
Here is an example of calling resize using refs:
https://github.com/zillow/react-slider/pull/177#issuecomment-629339271

[2020-05-15 16:03] #172 closed, assigned to nobody

[2020-05-17 20:40] #136 closed, assigned to nobody

[2020-05-17 20:46] stonebk commented on #172
The docs have been updated with an example:
https://zillow.github.io/react-slider/#!/ReactSlider/13

[2020-05-18 13:21] viters opened #179 "Floating step - different results with click and keyboard"
## Description

When I set step to floating value, like `0.1` - using slider with mouse is okay and everything works as expected.

When I use keyboard to change slider value, there are floating point issues:

![image](https://user-images.githubusercontent.com/13100466/82216669-91f1da80-9919-11ea-9270-dac5dc612fc2.png)

The issue is probably because of floating point operations at lines:
https://gi

[2020-05-18 16:41] stonebk commented on #179
@viters thanks for the detailed issue report!

I don't think I would add this kind of sanitization logic to the component itself because it is the result of using JavaScript floats and not really the fault of the slider logic.

Perhaps we can leverage our `onBeforeChange` lifecycle method as a place to run sanitization logic and return a different value.

[2020-05-18 16:56] viters commented on #179
@stonebk I think libraries do fight with JS sometimes to hide this fight from users.

There may be better solution, but I would not require users to handle this difference themselves. In other words, I think `slider` should produce the same results, regardless of interaction type (mouse, touch, keyboard). Moreover, I think it's a nice idea to imitate native controls - and native range slider does

[2020-05-19 18:08] viters commented on #179
One example of handling this situation is presented by `rc-slider`:
https://github.com/react-component/slider/blob/master/src/utils.ts
Especially [`ensureValuePrecision`](https://github.com/react-component/slider/blob/master/src/utils.ts#L69).

This is proper solution I think, setting the target precision based on `step` from props and ensuring the output value has the same precision. As as librar

[2020-05-20 12:03] brandonaaron opened #180 "Clicking the track does not trigger onAfterChange"
## Description

Clicking directly on the track will trigger an `onChange` event but does not trigger `onBeforeChange` nor `onAfterChange`.

## CodeSandbox

This can be seen on the docs but also reproduced in the code sandbox.

[![Edit zillow/react-slider](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/bitter-resonance-5qkcl?file=/src/App.js)

[2020-05-23 00:04] viters commented on #180
I also would love `onAfterChange` to be triggered after every change. `onChange` triggers too often for some controlled-scenarios in which only the end result matters, where `onAfterChange` would be perfect. Although, now `onAfterChange` is rather useless, because it does not guarantee to capture all user interactions.

[2020-05-23 00:40] viters opened #181 "React Slider works on always one value reference and shares it outside"
## Description

Instance of `state.value` is the same throughout component usage and slider does all operations by checking and mutating this array. In the same time, it shares the reference to it with `getValue` or fired events like `onChange`.

It may lead to difficult bugs to track. E.g. I am using `immerjs`, which is making partial updates to app state. If I just pass value from `ReactSlider`

[2020-05-23 17:43] stonebk commented on #181
Yeah, we probably shouldn't be mutating the value that is passed in, rather make a copy of the array if we are going to mutate it in our internal state.

[2020-05-24 09:37] foezahmed commented on #175
@stonebk, any feedback on this?

[2020-05-24 15:30] viters commented on #180
At the same time, `onSliderClick` returns only one value even if slider contains multiple handles. It is less useful than receiving new value, because it is hard to tell which handle did change.

There is a workaround though @brandonaaron , you can bind to `onSliderClick` and use `ReactSlider.getValue`.

@stonebk
I think one of these scenarios would be worth considering:
- fire `onAfterChange` rig

[2020-05-24 15:48] viters opened #183 "Rewrite react-slider to TypeScript"
Just an idea, but it could be worthwhile to rewrite `react-slider` in TypeScript. A lot people these days prefer TypeScript (including me), and existing types `@types/react-slider` are quite poor and insufficient.

There isn't a lot of code, so just rewriting `ReactSlider.jsx` to `tsx` should be quite easy, we can even start with just pure js in ts with only props typed.

The only thing I am conce

[2020-05-25 10:39] viters commented on #175
@foezahmed

Currently, as workaround, you can ignore value from `onSliderClick` and pragmatically get value from slider ref in the `onSliderClick` handler.

[2020-05-25 10:47] foezahmed commented on #175
Yes, doing it this way now.
But there should be a consistent way of getting the click value of thumb.
Tried to add the code but `stopPropagation` in `pauseEvent` not working resulting the `onSliderClick` to fire also.
Looking for some help on that so can I can complete the PR.

[2020-05-26 13:54] brandonaaron commented on #180
Thanks for the workaround idea. I ended up using that for now.

Passing the whole value as the second parameter of `onSliderClick` makes the most sense to me with the priority of reducing breaking changes. I agree it is tech debt but probably better to take that on, rather than deal with breaking stuff.

[2020-06-03 23:05] medatech opened #184 "Use ResizeObserver to avoid rendering issues when parent container has display: none initially"
## Description

There's been a few issues (#177, #136, #172) where if a parent element is initially hidden, it's not possible for the Slider component to calculate the widths and as such places the thumb at the far left.

I believe this is a workable solution that could be put into the component, but can be used in a project without needing to have to track parent container visibility states withi

[2020-06-04 00:13] stonebk commented on #184
@medatech, the documentation already has an example using `ResizeObserver` with the `resize` function:
https://zillow.github.io/react-slider/#!/ReactSlider/13

`ResizeObserver` is not supported by IE11, so I don't think I would want to build that directly into the component.
https://caniuse.com/#feat=resizeobserver

[2020-06-04 00:30] stonebk commented on #184
Although, we could probably just feature detect and not use it in IE11 🤔

[2020-06-04 00:33] stonebk commented on #183
Sorry, I don't use TS myself, so moving the project to TS is not really something I plan to do. I would encourage you to submit a PR to improve the types if TS is something you are passionate about.

[2020-06-04 00:33] #183 closed, assigned to nobody

[2020-06-04 00:38] stonebk commented on #175
I think the problem here is that `onSliderClick` should not be firing because you are actually clicking on the thumb, not the slider. The value makes a lot more sense when you are actually clicking on the bar, where it is consistent with the thumb moving to that position.

[2020-06-04 10:37] medatech commented on #184
Thanks @stonebk. Honestly I never spotted that . I was following the conversation of the issue in the issues and would have loved to have seen that solution before I pretty much reinvented the wheel. I probably just missed it.

That said, having this work out the box would be amazing and stop other people tripping up. My use case was simple enough, everything worked perfectly, then noticed this we

[2020-06-15 11:24] axelboc commented on #172
Hi there, I can't seem to find the example in the linked docs.

Would you consider using `ResizeObserver`, when available (i.e. as progressive enhancement), to automatically resize the slider internally? This is a common pattern nowadays and there are libraries that make it trivial, like https://github.com/streamich/react-use/blob/master/docs/useMeasure.md ((implementation)[https://github.com/stre

[2020-06-15 18:09] #181 closed, assigned to nobody

[2020-06-15 19:42] stonebk commented on #175
I looked into this a bit more and it seems like a bit of a weird callback (not sure what the original intent for this callback was). It just reports the value for the click position regardless of what the actual value of any thumbs are.

@foezahmed , curious, what are you using `onSliderClick` for?

[2020-06-15 19:53] stonebk commented on #179
Yeah, the more I think about it, it makes sense that we resolve the issue since we are the ones doing the addition/subtraction.

[2020-06-15 20:25] #179 closed, assigned to nobody

[2020-06-15 20:25] #180 closed, assigned to nobody

[2020-06-17 10:38] foezahmed commented on #175
I'm using this in a video seek bar and letting the user select a range.
During the selection, I'm allowing the user to :

- On thumb move, seeking the video to that position to see the frame.
- On Click on any of the thumbs, seeking and showing where the video frame starts/ends. (This is where consistent click value from  `onSliderClick` or `onThumbClick` is needed)

[2020-07-01 13:36] Pedrozena opened #188 "Dynamic thumb style not reflected in slider update"
## Description

I need to use the slider component by dynamically change the size of the thumb.
Whenever a change of this kind happen, between two given lifecycles, the main slider component is not able to correctly restrict the movement of the thumb within its bounds

## CodeSandbox

https://codesandbox.io/s/optimistic-worker-ix143?file=/src/App.js

[![Edit zillow/react-slider](https://codesandbo

[2020-07-01 16:32] Pedrozena commented on #188
I solved by requiring a resize, by using the ref element, as showed [here ](https://github.com/zillow/react-slider/pull/177#issuecomment-629339271)

[2020-07-01 16:32] #188 closed, assigned to nobody

[2020-07-15 07:51] istoros opened #190 "How to limit slider?"
I want to limit my slider between 25 and 75 values on 0-100 line
On onChange callback I set new state, state is update, but slider value not changes (slider value not connected with my state value)
What solution of this problem?

Slider component:
`export default ({value, onChange}: any) => {
    return (
        <Slider>
            <SliderContainer>
                <StyledSlider

[2020-07-15 18:39] stonebk commented on #190
Can you not just use the `min` and `max` props?

[2020-07-15 22:07] istoros commented on #190
@stonebk I can't. I must to have 0-100 range, limited 25-75 values.
I view source code react-slider, it use personal state.
My solution is use forceUpdate. Is there another ways?

[2020-07-17 03:52] zeeshanjan82 commented on #153
@vdhyani-binary where you able to find any solution?

[2020-07-24 08:52] pawelw commented on #149
Hi @stonebk Is there any chance UNSAFE_componentWillReceiveProps is going to be removed anytime soon?

[2020-08-01 15:41] coolsp opened #193 "Warning: Using UNSAFE_componentWillReceiveProps in strict mode"
## Description

Using react-slider generates a react warning in strict mode:

[code]

[code]

[2020-08-01 19:51] coolsp opened #194 "`onChange` nor `onAfterChange` gets invoked when `value` changes"
## Description

When using `value` for controlled components and changing the linked state value the thumb gets updated however `onChange` nor `onAfterChange` gets invoked by the `ReactSlider` component.
The expected behavior would for both `on` methods to get invoked as the value changed.

[2020-08-02 22:23] AllStackDev1 commented on #193
Having the same issue

[2020-08-06 10:32] gynekolog commented on #149
@pawelw there's the new open issue  -> https://github.com/zillow/react-slider/issues/193

[2020-08-23 12:20] #175 closed, assigned to nobody

[2020-09-20 22:38] #190 closed, assigned to nobody

[2020-09-22 15:21] hornetDC opened #197 "onChange returns old value if used with value prop"
## Description

Title. It worked before in 1.0.8.

## CodeSandbox

https://codesandbox.io/s/goofy-raman-znv2t

[2020-09-22 15:55] stonebk commented on #197
Looks like a regression from https://github.com/zillow/react-slider/commit/904e927bba111820f87726ee09f4890fc4004ba9 -- looking into it.

[2020-09-22 17:13] stonebk commented on #197
It looks like `getDerivedStateFromProps` is removing our state change before `onChange` is called with the new value.

[2020-09-22 18:16] stonebk commented on #197
The PR needs some more thought -- going to revert the commit for now until the PR can get some more time.

[2020-09-22 18:20] #197 closed, assigned to nobody

[2020-09-22 18:24] stonebk commented on #197
`react-slider@1.0.11`

[2020-11-03 03:42] dalbitresb12 commented on #193
Hi @stonebk! Is there any progress on this one?

[2020-11-03 20:12] stonebk commented on #194
This is expected behavior IMO -- a controlled `<input>` does not fire `onChange` events when you change the `value`, not sure why we would.

[2020-11-03 20:12] #194 closed, assigned to nobody

[2020-11-03 20:13] #193 closed, assigned to nobody

[2020-11-03 20:20] stonebk commented on #197
`react-slider@1.1.1`

[2020-11-03 20:20] stonebk commented on #193
`react-slider@1.1.1`

[2020-11-09 10:21] miromeir opened #201 "onAfterChange called with old values"
on a controlled 2-values slider, onAfterChange is getting called with old values(from before the change).

Desired Behaviour:
onAfterChange should be passed new values, representing the slider after the change is finished (I think?)

## CodeSandbox

Try changing slider values. then, change react-slider to v1.0.11 and try again. different results.
[![Edit zillow/react-slider](https://codesandbox.io

[2020-11-09 19:17] stonebk commented on #201
For now you can use `onChange` instead of `onAfterChange` and it should work.

[2020-11-09 22:36] Jordan-Eckowitz commented on #201
Having the same problem - `onAfterChange` returns the default values

[2020-11-10 16:23] #201 closed, assigned to nobody

[2020-11-10 16:24] stonebk commented on #201
`react-slider@1.1.2`

[2020-11-10 16:35] Jordan-Eckowitz commented on #201
Works perfectly now, thanks!

[2020-11-28 14:16] SarthakSri98 opened #202 "Get last mark at the edge of the slider"
I am trying to use the slider with 9 marks. I have set the width of the container as 100% but the last mark always come a little left side instead of at the last.
The marks array is like this:
`const marks = [ 0, 12.5, 25, 37.5, 50, 62.5, 75, 87.5, 100 ];`
<img width="315" alt="Screenshot 2020-11-28 at 7 43 04 PM" src="https://user-images.githubusercontent.com/28146914/100517655-35b62000-31b2-11eb

[2020-11-28 19:13] #202 closed, assigned to nobody

[2020-12-03 15:01] loichuder opened #203 "[Question] Use of `position: absolute` for marks"
First of all, thanks for the nice package. I was happy to land on it after a few unsuccessful tries with other packages.

## Description

I tried the recently added marks and noticed an odd behaviour: **`position: absolute` must be explicitly set by the external CSS of the marks for them to be properly placed** (see image and sandbox below).

On the other hand, tracks and thumbs do not need this a

[2020-12-11 09:17] digiperfect-tech opened #204 "When dragging beyond minimum value, value resets to max if mouse moves outside window"
Attaching a GIF that displays this issue. Issue occurs only when dragging beyond minimum value and when cursor moves outside of the window (dragging beyond maximum value has no issues). Issue can be seen on any of the examples in the official examples page. Tested in Chrome  86.0.4240.183

Update: Interestingly enough, the same issue occurs with native HTML range input. Am not sure if it is relate

[2021-01-19 07:25] deadcoder0904 opened #207 "Could not resolve dependency: react@16.x"
I'm trying to install `react-slider` & got the following error:

npm ERR! node_modules/react
npm ERR!   react@"^17.0.1" from the root project
npm ERR!
npm ERR! Could not resolve dependency:
npm ERR! peer react@"16.x" from react-slider@1.1.2
npm ERR! node_modules/react-slider
npm ERR!   react-slider@"*" from the root project

Can you update the peer dependency & release a new version?

https://gith

[2021-01-21 19:12] #207 closed, assigned to nobody

[2021-01-21 19:12] stonebk commented on #207
`react-slider@1.1.3`

[2021-01-21 19:26] stonebk commented on #203
I agree, the inconsistency is not great. It would probably make sense to add the positioning like we do with tracks and thumbs.

[2021-01-22 12:40] deadcoder0904 commented on #207
Is there any way to convert it from https://github.com/tajo/react-range to this?

Here's the effect that I have when using `react-range` with the following code:

[code]

![react-range](https://user-images.githubusercontent.com/16436270/105491500-614e1600-5cdc-11eb-9442-65d0c75c5bf0.png)

I tried converting reading the docs like:

[code]

But it's showing only little thumb & cuts-off (see `Vertica

[2021-01-22 13:04] deadcoder0904 commented on #207
Okay, I made it work with minute changes however the position of the thumb was a little off which I fixed by adding `absolute -top-1`:

[code]

![range](https://user-images.githubusercontent.com/16436270/105494081-4aa9be00-5ce0-11eb-9f9e-79afad2fc2a5.png)

Not sure if the thumb position is intended like that but hey it works. Thanks for this library :)

[2021-01-22 13:32] deadcoder0904 opened #209 "This module is declared with using 'export =', and can only be used with a default import when using the 'allowSyntheticDefaultImports' flag."
## Description

When I use `import ReactSlider from 'react-slider'` I get the following error (red-squiggly lines) in VSCode:

The way to overcome `allowSyntheticDefaultImports` is to use it as `import * as ReactSlider from 'react-slider'` so I tried that & my console was filled with errors & the app crashed:

[code]

The app doesn't crash when I use `import ReactSlider from 'react-slider'` but I

[2021-01-22 13:35] deadcoder0904 commented on #209
Meanwhile I'm setting `allowSyntheticDefaultImports` to `true` in `tsconfig.json` :)

[2021-01-22 16:20] stonebk commented on #209
Sorry, I don't use VSCode or TypeScript, so I'm not sure what issue you are having. Somebody contributed type support a while back -- is it as simple as installing that?

[code]

[2021-01-22 17:32] #203 closed, assigned to nobody

[2021-01-23 06:07] deadcoder0904 commented on #209
I installed that already but TypeScript yelled at me. Doing [this](https://github.com/zillow/react-slider/issues/209#issuecomment-765399641) fixed the issue but maybe the types can be improved so we don't have to set that flag in `tsconfig.json`.

Idk TypeScript very well either. Just started using it so don't know as well what's wrong 🤔

The current fix works for me but maybe someone else who kno

[2021-01-25 07:48] loichuder commented on #209
The error

could be fixed by putting `export default` instead of `export =` in `@types/react-slider`.

But I don't know if this raises compatibility issues. Any input @axelboc ?

[2021-01-25 08:00] axelboc commented on #209
You're right @loichuder, it should be `export default`, since that's how `ReactSlider` is exported in https://github.com/zillow/react-slider/blob/master/src/components/ReactSlider/ReactSlider.jsx.

Until this is fixed, it seems the best solution is actually to import the package with this TypeScript syntax: `import ReactSlider = require('react-slider');`, as explained here: https://www.typescriptl

[2021-01-25 10:30] deadcoder0904 commented on #209
Or use `allowSyntheticDefaultImports` in `tsconfig.json` which is much cleaner imo :)

[2021-01-25 16:06] stonebk commented on #209
Thanks all for investigating! Going to close this since the problem is external.

[2021-01-25 16:06] #209 closed, assigned to nobody

[2021-02-08 07:41] loichuder commented on #209
This should now be fixed by https://github.com/DefinitelyTyped/DefinitelyTyped/pull/50819 (published in `@types/react-slider@1.1.1`)

[2021-02-11 06:14] Moai101 opened #210 "Color sticks out when using react-slider"
Now,I'm using react-slider.
When a thumb reached 100%, color sticks out like following picture. How can I fix it ?
<img width="92" alt="スクリーンショット 2021-02-11 14 51 35" src="https://user-images.githubusercontent.com/24502897/107607123-b0ec8580-6c7b-11eb-8217-b5481c92e188.png">
This is my css code.
[code]

This is my react native code.
[code]

[2021-02-11 20:50] LexaDel opened #211 "How can I disable change Slider on Key 'Up' or 'Down'"
Hi!

I don't need change slider value on key 'up' or 'down'. I didn't find props which it could help.

Could you add that props?

[2021-02-11 21:01] LexaDel commented on #211
I found, how i can do it.

When render thumb, need overload props  `onFocus={()=>{}}`

[2021-02-11 21:01] #211 closed, assigned to nobody

[2021-02-21 23:23] #204 closed, assigned to nobody

[2021-02-26 15:56] axelboc opened #212 "Expose thumb index in change handlers"
I'm using a slider with two thumbs and using it as a controlled component with `value` and `onChange`. It would be quite helpful if I had an easy way of knowing which thumb has moved in my `onChange` and `onAfterChange` event handlers (and `onBeforeChange` as well, why not):

[code]

In most cases, a workaround is to do an equality check for each value, of course, but if the initial values are not

[2021-02-27 15:35] petosiso commented on #202
Hi,

how did you solve this problem?

Thanks.

[2021-02-27 15:37] petosiso opened #213 "Space after last thumb"
Hi,

I am trying to implement react-slider with 6 marks. I can't place the last thumb at the end of the track -  I have always space after the last thumb (see the image). How can I solve this?

![image](https://user-images.githubusercontent.com/64576633/109392026-26ae4d80-791a-11eb-9329-8e80b6ff7de8.png)

Thank you!

[2021-03-05 13:27] sohymg opened #214 "Mark appears outside of slider if minimum is not 0"
## Description

If `min > 0`, the first mark is rendered outside of slider.

## CodeSandbox

Sorry I couldn't get the marks to appear in the sandbox. This is how it looks like if `min=1`

![image](https://user-images.githubusercontent.com/6994570/110121635-9a0ffd80-7df9-11eb-9910-a058d14457ba.png)

[2021-03-14 13:47] Sheldonfrith commented on #210
Having same issue

[2021-03-14 13:47] Sheldonfrith commented on #213
Having same issue. This is a duplicate of #210

[2021-03-14 14:21] Sheldonfrith commented on #210
I solved my issue. I did a codesandbox to try to reproduce it for this issue, but the slider worked properly on codesandbox so I figured the problem was on my end (and it was). In the end the solution for me was removing all padding and margins on the thumb element (I had default styles applied to all divs that were the cause of the issue). In general though I would recommend looking at what defau

[2021-03-19 17:04] mat-sf commented on #213
The problem here is that browser returns different values from `slider.getBoundingClientRect()`, after resizing the browser (doesn't matter is it resized vertically or horizontally), it should return proper values and work as expected.

A temporary workaround, not perfect, but working, could be programmatically invoke browser resize:
[code]

From a package perspective, probably updating;
[code]
to

[2021-05-08 08:07] MarvenGong opened #220 "how can i update the slider value when the zoom has been updated by others"
## Description

Please provide a brief description of the issue including what you are seeing as well as the expected behavior.

## CodeSandbox

Please provide a CodeSandbox that clearly reproduces the issue. **Issues without a CodeSandbox are less likely to get resolved quickly.**

[![Edit zillow/react-slider](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/zillo

[2021-05-18 21:46] stonebk commented on #220
If you go to the [documentation](https://zillow.github.io/react-slider/), there is an example that shows you how to programmatically resize the slider.

![Screen Shot 2021-05-18 at 2 44 25 PM](https://user-images.githubusercontent.com/1432010/118727515-b8c24580-b7e7-11eb-9482-bde461ce0672.png)

[2021-05-18 21:46] #220 closed, assigned to nobody

[2021-05-18 21:52] stonebk commented on #214
Hi @sohymg, sorry, without a sandbox that reproduces the issue, we can't figure out what is wrong with your usage.

Please add a codesandbox and we can reopen.

[2021-05-18 21:54] stonebk commented on #213
Hi @petosiso, can you please add a codesandbox that reproduces your issue? Without seeing your code, it's extremely difficult to debug.

You can create a sandbox by clicking below. Once you add that, we can reopen the issue.

[![Edit zillow/react-slider](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/zillowreact-slider-l3vuc?fontsize=14&hidenavigation=1&theme=dar

[2021-05-18 21:54] #213 closed, assigned to nobody

[2021-05-18 21:58] stonebk commented on #210
Hi @Moai101 , if this is still an issue for you, can please reproduce the problem in a codesandbox? It makes it A LOT easier for me debug any potential issues. You can click the link below:

[![Edit zillow/react-slider](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/zillowreact-slider-l3vuc?fontsize=14&hidenavigation=1&theme=dark)

Once a sandbox is created, I'd

[2021-05-18 21:58] #210 closed, assigned to nobody

[2021-06-01 03:54] peterboyer commented on #214
@sohymg Yep, just ran into this issue now.

@stonebk Please re-open this issue. Here is a CodeSandbox link: https://codesandbox.io/s/aged-sea-h7np2?file=/src/App.js

![Screen Shot 2021-06-01 at 13 54 05](https://user-images.githubusercontent.com/8391902/120264316-dbbd2100-c2e0-11eb-8af1-c5c23ce794b0.png)

[2021-06-01 05:17] peterboyer commented on #214
For those who want a fix now here, I solved this by implementing a drop-in replacement component that patches the min/max/value/onChange props to operate as if the min was 0 (which displays correctly).

The idea is, for whatever your min value is treat it as 0 and the max value will compensate. Then whatever value is set apply the reverse of the min value transform to get the intended value.

[cod

[2021-06-01 22:21] stonebk commented on #214
~@ptboyer what browser/platform are you using? It looks OK to me:~

![Screen Shot 2021-06-01 at 3 20 56 PM](https://user-images.githubusercontent.com/1432010/120397355-12009d80-c2ed-11eb-9671-bbec856156f1.png)

Scratch that, I see now:

![Screen Shot 2021-06-01 at 3 24 16 PM](https://user-images.githubusercontent.com/1432010/120397663-8b988b80-c2ed-11eb-84f7-bcb577d55662.png)

[2021-06-03 15:38] Eliepse opened #226 "Impossible to reach max/min with step"
## Description

Hello,

I use this slider with min, max values et a step. I expect the values to be able to reach the minimum and the maximum, but if those limits does not match with the step, it's not possible to do it.

In my case, I have a slider with a step of 5, trying to select a range of dates between 2000 and 2022. you can check the sandbox below to try it out. :)

Thanks !

## CodeSandbox

[2021-06-03 16:44] #212 closed, assigned to nobody

[2021-06-05 01:53] xeoneux opened #227 "Getting each key in a list should have unique key prop with simple setup"
## Description

Getting each key in a list should have unique key prop with simple setup from the examples

## CodeSandbox

https://codesandbox.io/s/condescending-field-sof96?file=/src/App.tsx

[2021-06-05 02:02] xeoneux commented on #227
My bad, I was destructuring props on the children instead of the parent

[2021-06-05 02:02] #227 closed, assigned to nobody

[2021-06-09 09:43] axelboc opened #229 "Can't tell when multiple thumbs have moved because of pearling"
## Description

This follows #212: on a slider with multiple thumbs and pearling enabled, more than one thumb can move at once, so the change handlers should probably receive an array of thumb indices instead of a single thumb `index`.

Ideally, if the slider has multiple thumbs, `index` should always be an array, as this would simplify looking for a thumb that changed: `index.includes(0)`. In ter

[2021-06-14 16:20] stonebk commented on #226
This is currently expected behavior when using `step`. From the `step` documentation:

[2021-06-14 16:20] #226 closed, assigned to nobody

[2021-06-14 16:28] stonebk commented on #229
Yeah, I think the type of the index param should match that of values param.

[2021-06-22 09:00] Eliepse commented on #226
Ok, my bad. Thank you for your time. :)

Not really practical though. :/

[2021-06-23 21:46] MauroTaliente commented on #214
Hi,
solved this problem by forcing a new size adjustment.
I hope to be helpful

`
  // RESIZE HACK
  const sliderRef = useRef(null);
  useEffect(() => {
    if (!sliderRef.current) return;
    sliderRef.current.handleResize();
    return () => {}
  }, [sliderRef]);

    <ReactSlider
      {...{
        ref: sliderRef,
      ...

`

[2021-06-25 18:06] stonebk commented on #229
@axelboc thanks for the additional PR!

What's the use-case for knowing exactly which thumbs moved due to pearling more than just knowing the thumb that was grabbed?

I ask, because I'm looking at the PR and it adds a fair amount of complexity for what seems might be a pretty far edge case.

[2021-06-28 09:21] axelboc commented on #229
My use case involves floats. My slider has two thumbs and its min/max range and thumb values can be any floating-point numbers, with any precision supported by JS. `react-slider` is rightfully not meant to be used with floats of any precision (it rounds values to 5 decimals and expects the step to be a multiple of the min/max range), so instead, I render a slider with a min of 0, a max of 100 and

[2021-06-28 17:15] stonebk commented on #229
Haha, thanks for the thorough explanation @axelboc!

Let me think on this one a little bit more...

[2021-07-01 16:30] leonidkuznetsov18 opened #234 "Revert not working"
if set to min 100 and to max 0, handler not working

[2021-07-01 23:32] stonebk commented on #234
Use min 0, max 100, and the `invert` prop.

[2021-07-01 23:32] #234 closed, assigned to nobody

[2021-08-18 07:33] axelboc commented on #229
Since PR #232 has gotten stale, I thought I'd suggest an alternative API solution that is perhaps cleaner than the one in the PR:

[code]

**Pros:**

- Still backwards compatible (for users who don't care about this feature)
- No information left out
- Kinda self-explanatory (at least more than the previous API)
- All information in one place (we could even repeat the `value` of each thumb so peop

[2021-08-23 22:36] stonebk commented on #229
Sorry, I have been quite busy lately.

The alternative API is not really backwards compatible since you are changing the type of the `thumbs` array values from an integer to an object.

[2021-08-24 06:52] axelboc commented on #229
No rush 😉 -- and again, if you don't think this issue is worth resolving, don't hesitate to close it.

Haha yeah of course, I meant more for the people who aren't concerned by this feature and only care about the first parameter (i.e. the vast majority of people). Just like adding the `index` parameter did not affect them, replacing the `index` parameter with an object won't affect them either. Th

[2021-10-11 20:20] angelod1as opened #239 "How to disable a single thumb"
## Description

I'm building a slider in which a single thumb needs to stay disabled and unmovable. It needs to act, also, as a barrier for other thumbs (pearling is true).

Is there a way to disable a single (or more) thumb without disabling the entire slider?

[2021-10-12 12:17] angelod1as commented on #239
I found out I can use marks for this but it needs some kind of label. I'll submit a PR with these changes.

[2021-11-03 15:36] SofiaGR opened #242 "Thumb position gap"
Hello,

I really like this slider and how it is accessible and CSS agnostic, however there is one _tiny_ thing that I wonder if something can be done about it.

I created a sandbox to explain it: https://codesandbox.io/s/festive-shannon-swbmg?file=/src/App.tsx

Is it possible to fix this gap between the track and the thumb? It's literally 1px 😓
<img width="301" alt="Screenshot 2021-11-03 at 15 35

[2021-11-25 20:37] #229 closed, assigned to nobody

[2021-11-25 20:37] #214 closed, assigned to nobody

[2021-12-02 12:12] Hampei commented on #214
problem  is  in renderMarks

`marks = Array.from({ length: range }).map((_, key) => key);`

This  should be  `marks = Array.from({ length: range }).map((_, key) => key  + min)`;

I had a quick try  to fix it, but  can't  test it  within react-test-renderer, since the slider does not have a size and that's not easy  to add within that lib. Probably need to switch  to enzymn to get some  proper test

[2021-12-03 02:09] xrawvelocity opened #243 "Step Change Transition"
## Description

When moving the thumb from one step to the next it snaps and I would like to have it follow the cursor while its being held down and on mouseUp it would snap to the nearest step

## Example

This is what I need it to look like:

![sliderdemo](https://user-images.githubusercontent.com/57048899/144532630-59fbc8b6-7800-4a43-9c2f-c2de74714d9d.gif)

This is what I have so far:

![slider

[2021-12-03 03:54] qiushifa opened #244 "步进值不为1， 滑动的最大值会超出"
在move方法重应该加个判断 ： value[index] = newValue > max ? max : newValue;

[2021-12-03 17:04] stonebk commented on #244
Sorry, I do not know what is being asked here. If you can provide some more information and an example, we can reopen the ticket.

[2021-12-03 17:04] #244 closed, assigned to nobody

[2021-12-21 21:27] stonebk commented on #242
The gap is a result of the border radius on the thumb. If you remove the border radius, you'll no longer see any gap:

<img width="713" alt="Screen Shot 2021-12-21 at 1 25 22 PM" src="https://user-images.githubusercontent.com/1432010/146999754-f5172a06-6d54-4c8d-ac52-3d77bccebab6.png">

If you want to remove the gap, you can make the thumb larger and offset it to cover the gap.

[2021-12-21 21:27] #242 closed, assigned to nobody

[2021-12-21 21:32] stonebk commented on #243
Unfortunately I don't think this is possible with the current implementation.

One possible workaround would be to use a slider with more values, say values 0-100 rather than 0-1. This would make the slider feel more like it is following the mouse since there are more snap points. You would just have to have some logic on your side to handle translating the 0-100 values to 0-1. Not the cleanest so

[2021-12-21 21:32] #243 closed, assigned to nobody

[2022-01-03 23:34] angelod1as commented on #239
I won't have time to implement this, sorry.

[2022-01-03 23:34] #239 closed, assigned to nobody

[2022-01-13 10:05] axelboc opened #245 "Move `prop-types` to `dependencies`"
Hi there, just wondering if it'd be possible to remove the `prop-types` package from `peerDependencies`. I'm using TypeScript and therefore don't need/wish to install `prop-types`.

The documentation of the `prop-types` package [says the following](https://github.com/facebook/prop-types#how-to-depend-on-this-package):

[2022-01-19 23:33] gabrielmicko opened #247 "Incorrect thumb value provided to component and also value breaks on thumb moving"
## Description
[code]
When I move the thumb left the max value breaks.

https://user-images.githubusercontent.com/4391461/150234656-3959660d-be1a-403c-8799-35bec28e2edc.mov

## CodeSandbox

Please provide a CodeSandbox that clearly reproduces the issue. **Issues without a CodeSandbox are less likely to get resolved quickly.**

[![Edit zillow/react-slider](https://codesandbox.io/static/img/play-cod

[2022-01-20 00:10] gabrielmicko commented on #247
I am not sure yet, but I think when I provide prop `step={0.01}` it works.

[2022-01-22 20:36] radikris commented on #166
@hinok  hey, currently I am building something similar, can you show me source code for your slider on the gif. I could accomplish something very similar but I would be insterested in your approach, thank you in advance!

[2022-02-01 14:36] rizabek-mukanov commented on #166
i was trying to use onAfterChange and onBeforeChange, and removing activeClassName from thumb's classList, but it is not working

[2022-02-01 19:53] raulneto opened #248 "Thumb is not moving when the value is changed by another action"
## Description

The value is being changed dynamically by another action (a reset function).
When the value prop  changes I set new value into state but the thumb is not moving. It is only moving when dragged manually.

[code]
* NOTE: this is React v15*

[2022-03-04 16:10] kris-ellery commented on #184
We're adding `ResizeObserver` functionality in `v2.0.0`. See this MR https://github.com/zillow/react-slider/pull/254

[2022-03-04 16:26] kris-ellery commented on #247
@gabrielmicko please use `step={0.01}` and update `onChange` handler to use spread operator for setting a value.

[code]

I applied these changes to your CodeSandbox example and everything worked/updated as expected.

[2022-03-04 16:26] #247 closed, assigned to nobody

[2022-03-04 16:28] kris-ellery commented on #248
@raulneto could you please replicate it in CodeSandbox? `react-slider` requires React 16 or 17 as peer dependency.

[2022-03-17 14:00] LinnJS opened #255 "ReactSlider does name accept name prop"
## Description

Hello Zillow maintainers 👋,

First off would say I love this open-source component and all the time you all took to make it accessible. Currently building a design system for my company with Tailwind and like to make most of the stuff from scratch but when I came across the slide component seemed clear I should bring in an open-source package. When I bring in packages I always pref

[2022-03-29 19:06] #184 closed, assigned to kris-ellery

[2022-03-29 19:06] #245 closed, assigned to kris-ellery

[2022-03-29 19:11] #248 closed, assigned to nobody

[2022-03-29 19:30] kris-ellery commented on #255
Hi @LinnJS, thank you for submitting an issue.

The `ReactSlider` output is a structure of `div` tags, there is no `input` tag to assign a `name` or `id` attributes. Speaking of, I think you meant the `id` attribute to connect `label` with `input` tags, the `name` does not create that connection.

That being said, `ReactSlider` should allow to pass transient props to the final DOM node. The questi

[2022-04-01 16:57] netgfx commented on #248
Hm having the same issue, changing the `value` via state change does move the thumb but it doesn't call the `onChange` function

[2022-04-01 18:53] stonebk commented on #248
This is expected behavior because the slider is behaving as a [controlled component](https://reactjs.org/docs/forms.html#controlled-components). `onChange` will only fire on user events, not changes to `value` that are passed in, otherwise you could have a feedback loop.

[2022-04-01 20:23] kate-fsd commented on #201
Hi!
I sometimes have the same problem on iphone now, in controlled, 1-value component. Slider version 2.0.0
On android and desktop it works well

[2022-04-01 23:04] raulneto commented on #248
Yep :( the problem was that `react-slider` uses `getDerivedStateFromProps` from React 16+ an it is not changing component state as the props changes. So I'm passing a new key to the component when slider moves. It is not a good practice but it is just a workaround. Next steps will be upgrading whole application for React 16.

[2022-04-21 14:11] adrianmanduc opened #257 "React 18 support"
Hello. It would be nice to add React v18 to peerDependencies to make using this package easier in projects using React 18. Thanks

[2022-04-21 16:54] kris-ellery commented on #257
Hi @adrianmanduc, we need to first test it with React 18 and make sure there are no regressions. We'll update `peerDependencies` accordingly.

[2022-05-13 12:07] gabrielmicko commented on #257
Hey @kris-ellery any update on this?

[2022-05-16 17:11] DavidChouinard commented on #257
@kris-ellery we're also held up on this to migrate our app to React 18 🙏

[2022-05-16 17:41] kris-ellery commented on #257
Added React 18 as a valid `peerDependency`. I tested every documentation example in a small Vite-powered app. However, please report any React 18 incompatibilities.

[2022-05-16 17:41] #257 closed, assigned to kris-ellery

[2022-05-16 17:43] #255 closed, assigned to nobody

[2022-05-16 17:44] DavidChouinard commented on #257
Fantastic thank you!!

[2022-05-19 02:22] DavidChouinard opened #260 "Error: "Cannot use import statement outside a module" when upgrading to 2.0"
## Description

In a Next.js project, we have the following minimal component:

[code]

On v1.3.1 this works correctly. However on v2.0 it causes an error (pasted below).

Additional details:

 - This is in a Next.js project
 - Node.js 18
 - `package.json` _does not_ specify `"type": "module"` (doing so would break other parts of the project)

Might this have to do with the upgrade of `create-reac

[2022-05-19 16:08] kris-ellery commented on #260
@DavidChouinard which version of Next.js, and its bundler, do you use? Some bundlers do not recognize the `exports` key in `package.json` and follow the `main` or `module`. Are you able to provide a minimal reproduction example? I created a CodeSandbox with Next.js 12, React 18, React Slider 2, and I didn't get any issues. See here: https://codesandbox.io/s/next-js-with-react-slider-09p8gu

[2022-05-19 16:12] kris-ellery commented on #260
You could also try setting `experimental: { esmExternals: false }` in `next.config.js`.

[2022-05-20 03:23] DavidChouinard commented on #260
That seemed to work, thank you! (we're using webpack 5)

[2022-06-03 05:51] cs-ashiqu commented on #260
Hey @kris-ellery , I am also getting the same error. I am using Next `12.1.0` , React `17.0.2` and React slider latest.

`experimental: { esmExternals: false }` Is this a proper fix for the issue? Or any other fixes?

[2022-06-06 10:44] prsh11 opened #262 "how to set color until thumb?"
[code]
<br />

[code]

I tried using the class track-0 but it does not work

[2022-06-06 16:28] kris-ellery commented on #260
@cs-ashiqu I'm not sure if there are any other workarounds. My [CodeSandbox](https://codesandbox.io/s/next-js-with-react-slider-09p8gu) example uses Next 12, React 18, and ReactSlider v2 w/out any issues. I tried it with and w/out babel config. I'm not exactly sure what causes these issues in your projects. Maybe it's the targeted browsers list? ReactSlider v2 dropped IE11 support and updated [sup

[2022-06-06 16:40] kris-ellery commented on #262
@notprash `.track` sets the default background color before first thumb, then each incremental class (`.track.track-{n}`) sets background color after each thumb.

In example, with 2 thumbs, you could set 3 background colors:

[code]

[2022-06-07 07:36] prsh11 commented on #262
It is not working for some reason.

[code]

Still not showing up
![image](https://user-images.githubusercontent.com/67903361/172323013-5913a007-530a-4121-be16-0d687bf087f0.png)

[2022-06-07 14:10] timichal commented on #260
@kris-ellery I've encountered the same issue and looked into the sandbox example - the problem is that, according to `yarn.lock`, the version of Next.js that's actually being run in the example is 9.5.5. If you reinstall the packages (I did it just by forking the example), the error appears as described.

[2022-06-07 15:16] kris-ellery commented on #262
@notprash can you please provide a reproduction? A [CodeSandbox](https://codesandbox.io/) would be great. There might be something else in your CSS that affects the track styles. Thanks!

[2022-06-07 15:20] kris-ellery commented on #260
@timichal thanks for that! I was able to reproduce and I'm going to investigate further why Next.js is not working here.

[2022-06-08 17:41] afvr94 commented on #260
Hey @kris-ellery, I’m having the same problem. We are using nextjs 12.1.4 and react 18.1.0. Let me know if you need anything else that will help you investigate the problem. Thank you!

[2022-06-08 17:47] kris-ellery commented on #260
`experimental: { esmExternals: false }` is the easiest fix, but it could affect your application bundle, which is not ideal.

I did preliminary testing/debugging and for some reason Next.js does not recognize `exports` key in `package.json`, it defaults to production build of `react-slider`. What confuses me most is that each `./dist` format (`es/dev`, `es/prod`, etc) have their own `package.json`

[2022-06-09 06:30] consegrado commented on #260
@kris-ellery the problem is the file extension must be used for esm `.mjs` and not `.js`, a similar problem was solved here https://github.com/fkhadra/react-toastify/issues/766

[2022-06-09 10:59] prsh11 commented on #262
[here](https://stackblitz.com/edit/react-fsdpzx?file=src%2Fstyle.css)

[2022-06-09 15:14] kris-ellery commented on #260
@consegrado Thats one of the solutions. You can read more about dual-packaging [here](https://github.com/sheremet-va/dual-packaging) and [here](https://www.sensedeep.com/blog/posts/2021/how-to-create-single-source-npm-module.html). `create-react-styleguide`, which `react-slider` is based on, follows the latter approach.

[2022-06-09 15:23] kris-ellery commented on #262
@notprash here is the CSS that would fix your issues:

[code]
![Screen Shot 2022-06-09 at 10 22 05 AM](https://user-images.githubusercontent.com/2780894/172883960-79ea612c-765e-4ad7-9fb3-b86548fbc066.png)

[2022-06-10 10:07] prsh11 commented on #262
what if I am using three sliders with different thumb colors, How do I set different colors of track according to the sub-class

[code]
(sets track color to blue)

[2022-06-10 16:19] kris-ellery commented on #262
You can use class modifiers and parent-child relationships via CSS.

In React, you set 3 sliders, each with its own CSS modifier class `slider--{modifier}`

[code]

and in styles you can chain/nest selectors to target specific nodes

[code]

![Screen Shot 2022-06-10 at 11 16 46 AM](https://user-images.githubusercontent.com/2780894/173108526-e2f4f893-a320-4cea-a952-c5301200c04a.png)

If you really

[2022-06-14 01:38] willtpwise commented on #260
Thanks for working on this @kris-ellery. Keen as for the patch 🥳

[2022-06-15 12:59] #262 closed, assigned to nobody

[2022-06-20 18:23] nickcanarelli opened #264 "Marks or Thumb off center"
## Description

The actual value on the slider is at the beginning of the thumb and not the center? Seems like an odd user experience to think the center is the value when instead its the beginning of the thumb.

When actually centering the thumb and mark to the appropriate value, there is an excess of track at the end.

Steps to reproduce:

1. Remove:
[code]
from `.example-thumb`

## CodeSandbox

[2022-06-21 18:09] elotgamu opened #265 "Test suite: Clicking on track does not set the slider to the new value"
## Description

I ran into issues when I created a test when user clicks on steps to update slider value. However, testing using keyboard `Arrow Rigth` works as expected.

Also when testing with the preview the click on the steps works as expected.

Package versions:
[code]

## Relevant code

### Component
[code]

### App
[code]

## Tests

[code]

Notes:
 - The span for each  mark contains an aria

[2022-06-23 06:59] axelboc commented on #264
We found this a bit odd as well, but a simple workaround if to add margin to the track (half of the size of the thumb on either side):

[code]

[2022-07-07 03:51] DavidChouinard commented on #260
@kris-ellery anything we can do to help? Running `esmExternals: false` isn't great and Next is probably going to deprecate it at some point :(

[2022-07-07 22:40] kris-ellery commented on #260
@DavidChouinard you can still use `react-slider@1.3.1` to make Next.js happy. The v2 improvements are minuscule for a single component.

We'll do our best to get the bundle issue fixed, I'm not able to provide a definitive timeline tho.

[2022-07-07 23:03] DavidChouinard commented on #260
Got it appreciate it will move down to `1.3.1` given the improvements are small

[2022-08-01 15:42] moloko opened #267 "Accessibility: react-slider doesn't announce to assistive tech that it is disabled"
## Description
When using assistive technology such as a screen reader, this component does not indicate to the screen reader when it is disabled

Adding `aria-disabled` to the 'handle' elements should resolve this easily.

[2022-08-18 01:28] kris-ellery commented on #260
Fixed in `2.0.2`. Here is [CodeSandbox](https://codesandbox.io/s/next-js-with-react-slider-09p8gu) with working example.

@DavidChouinard can you please confirm? Thanks!

[2022-08-18 15:30] DavidChouinard commented on #260
Woah it works! Thank you so much 🙏

[2022-08-18 16:10] #260 closed, assigned to nobody

[2022-08-22 10:45] pekarja5 opened #271 "Hydration failed for server rendered code"
## Description
Hydration fails with:
```Prop `style` did not match. Server: "position:absolute;left:0;right:0" Client: "position:absolute;will-change:;left:0;right:0"```

Server is running Next.js 12.0.5 with React 18 on Node 16 LTS.

The problem is caused by different style resolve for empty strings (server won't include them, but client does) resulting in hydration fail.
Using `undefined` instea

[2022-08-22 17:34] kris-ellery commented on #271
Thanks for submitting an issue @pekarja5!

`styled-components` are known to have SSR issues with 3rd party libs. Material UI team has to deal with it all the time. Feel free to open PR if it's something you would like to address before we're able to get to it. Thanks!

[2022-08-24 11:39] amanzrx4 opened #273 "Offset on single thumb"
Hi, thanks for this library, really came handy for the project i'm building.

Well I was wondering is there any way to have an offset value on slider? Like I've set the min=0 max=100 and i want the thumb to move only till 90 after that it should not slide, leaving 10 as the offset distance between the end and he thumb, this is possible when we have two thumbs(using minDistance) but not with one, i

[2022-09-12 13:24] pekarja5 commented on #271
@kris-ellery Any chance to have #272 merged to fix the issue?

[2022-09-12 16:57] #271 closed, assigned to nobody

[2022-09-12 17:13] kris-ellery commented on #271
@pekarja5 thank you for contributing! Released in `2.0.4`.

[2022-09-27 09:37] shinspiegel opened #275 "Wrong placement for elements with negative number"
## Description

It appears that some calculation for the position breaks if there are values with a negative number. In special if we have marks defined. With multiple buttons, some of them also break.

## CodeSandbox

[Minimum Example](https://codesandbox.io/s/relaxed-currying-mi0qe6?file=/src/App.js)

[![Edit zillow/react-slider](https://codesandbox.io/static/img/play-codesandbox.svg)](https://c

[2022-09-27 15:10] kris-ellery commented on #275
`react-slider` does not support negative values. We would need to add it as a new feature.

[2022-09-27 16:09] axelboc commented on #275
Best way is to set the min/max/step of the slider to whole integer numbers, say 0 to 100 with a step of 1, and then use a scale (e.g. [d3-scale](https://github.com/d3/d3-scale)'s linear scale) to go from your negative domain to the range of the slider and back. You can write a small wrapper component to abstract this complexity away.

[2022-11-02 09:46] moloko commented on #267
this is still an issue, please don't close

[2022-11-17 02:19] njdancer opened #279 "Slider thumb snaps back when ending touch event"
## Description

When ending a touch event on mobile, sometimes the thumb will snap back to a previous value.

## CodeSandbox

This can be reproduced on the documentation page at [https://zillow.github.io/react-slider/](https://zillow.github.io/react-slider/), specifically on the Slider with marks. It is intermittent however and only occurs on mobile.